<div ng:controller="ArticlesCtrl">

	<ol class="breadcrumb">
		<li><%= link_to 'Home',root_url %></li>
		<li class="active">Articles</li>
		<% if current_user %>
		<li><%= link_to 'New',"https://tomwilsonproperties.zendesk.com/hc/admin/articles/new",target: '_blank' %></li>
		<% end %>
	</ol>

	<div>
		<h1>Articles</h1>
	</div>

	<hr>

	<h3 ng:if="meta.articles.loading">Loading...</h3>
	<h3 ng:if="!meta.articles.loading && articles.length == 0">No articles found.</h3>

	<div ng:show="!meta.articles.loading" ng:repeat="article in articles">

		<div class="row">

			<div class="col-sm-12">

				<a href="<%= articles_url %>/{{article.id}}"><h3 class="title">{{article.name}}</h3></a>

				<p class="text-muted">Published {{article.raw_created_at}}</p>

			</div>

		</div>
		<hr>

	</div>

</div>