<%= render 'layouts/jumbtron' %>
<section class="main-body without-search-feature">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="box-shadow">
					<ol class="breadcrumb">
						<li>
							<%= link_to 'Home', root_url %>
						</li>
						<li class="active">
							Our Process
						</li>
					</ol>
				</div>
			</div>
		</div>
		<div class="row content-section">
			<div class="col-xs-12">
				<h1>Our Process</h1>
				<h4>The Wilson Investment Properties Difference</h4>
				<p>
					Wilson Investment Properties prides itself as being the premier turnkey provider of investment properties available. We use our decades of experience to maximize your return while selecting high quality properties in strong cities to reduce risk. Our experience has taught us the Big Five strategies for success:
				</p>
				<ol>
					<li>
						<b> Know the Territory</b>
					</li>
					<li>
						<b> Focus on Cash Flow</b>
					</li>
					<li>
						<b> Invest in Quality</b>
					</li>
					<li>
						<b> Leave Nothing to Chance (Turnkey Investments)</b>
					</li>
					<li>
						<b> Keep Business Practices Transparent</b>
					</li>
				</ol>
				<p>
					We put those strategies to work for you. The properties we offer have been hand selected, fully renovated, with property management already in place. We also give you the support and coordination of our entire preferred professional team, the same experienced team that Tom Wilson uses for his personal portfolio. Most new investors do not realize the comprehensive amount of work and knowledge needed to acquire an optimum property and get it to the point where it is cash flowing property. We've done that work for you and it makes a difference!
				</p>
				<h4 class="mar-top-30"><b>Unique Advantages of Wilson Investment Properties</b></h4>
				<ul>
					<li>
						 Experience and success of Wilson Investment Properties' team
					</li>
					<li>
						 Tom Wilson's technical and business background in Silicon Valley, contributing to research of the best cities, properties, and formulas for optimum returns on investments
					</li>
					<li>
						 Wilson Investment Properties is Silicon Valley based, accessible, and understands the needs and perspectives of out of state investors
					</li>
					<li>
						 Facilitates faster path to owning top investment property
					</li>
					<li>
						 Reduces time, hassle, and risk of buying investment property, especially in a new area
					</li>
					<li>
						 More selective and higher quality products for optimum ROI than options available through other sources
					</li>
					<li>
						 Fully rehabbed homes, not just raw foreclosures, or minimally repaired properties for minimal rents
					</li>
					<li>
						 Renter-occupied investment properties
					</li>
					<li>
						 Top experienced and high integrity property management
					</li>
				</ul>
				<p>
					<b>Optimized team of investor lenders, insurance specialists, attorneys, tax specialists, property managers, real estate agents, title company officers, and 1031 exchange accommodators</b>
				</p>
			</div>
		</div>
	</div>
</section>