<%= render 'layouts/jumbtron' %>
<section class="main-body without-search-feature">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="box-shadow">
					<ol class="breadcrumb">
						<li>
							<%= link_to 'Home', root_url %>
						</li>
						<li class="active">
							Property Management
						</li>
					</ol>
				</div>
			</div>
		</div>
		<div class="row content-section">
			<div class="col-xs-12">
				<h1>Property Management Services</h1>
<p>When you purchase an investment property from Wilson Investment Properties, professional property management is already in place.  At any time, however, you are free to choose a different property manager.</p>

<p>We highly recommend the property managers who also manage our portfolio and have negotiated a reduced rate for our clients. A normal full service* management fee is 10% of <b>collected</b> rent, plus a new lease fee (often 1/2 of a month’s rent). For Wilson investment Properties’ clients, many of our property managers have provided discounted rates.</p>

<p><i>*Full service means that the property manager handles tenant screening,  and leasing, rent collection, insurance, repairs, inspections, accounting, monthly reporting, and deposits of your net income directly into your account.</i></p>
<h3>Property Management Details</h3>
<p>Below are details typically seen in most property management agreements in place on our turnkey properties.</p>
<ol>
<li><b>Cost:</b> Our property managers provide comprehensive services while discounting their fee.</li>
<li><b>Communication:</b>  Property Managers  use email and respond to either telephone or email inquiries. They aim  to return calls to both tenants and investors in the same timely manner, within an hour for non-emergencies and 15 minutes during an emergency.</li>
<li><b>Termination:</b> They  make every effort to provide superior service, so much so that if you do decide to go with another property manager, they  do not charge you fees or penalties for breaking your contract.</li>
<li><b>Repairs and Maintenance:</b>  Property Managers  have relationships with certified contractors in order to respond quickly with the right skill-set for the job.  The maximum they  spend without contacting the investor/client is $300.</li>
<li><b>Monthly Statements:</b>   PMs  provide monthly electronic income & expense statements.  Many  also provide an electronic portal in which you have direct access to their  software and can pull your own set of reports, check to see if your tenant has paid, and check your account balance.  Accounting staff is adept at handling a simple partnership to a detailed LLC and syndications.  Year end statements will be timely.</li>
<li><b>Evictions:</b>   They avoid evictions by placing the right people in the property and then keeping them satisfied.  When someone becomes unable to pay, property managers  offer to waive the tenant penalties for breaking the lease in exchange for leaving the premises without a formal eviction.  If that is not possible, they use an eviction service that understands and complies with state and federal laws.</li>
<li><b>Yard Work:</b> Tenant is responsible for yard maintenance.</li>
<li><b>Reserves:</b>  Property Managers often  require $400 in reserves to cover maintenance and repairs.  When this account is under $100, they ask the investor/client to replenish the account.</li>
<li><b>Vacancies:</b>  They charge up to 1/2 month’s rent to fill vacancies.  These funds cover the cost of advertising, showing the property, running background checks  (checking references, making sure that the tenant is well qualified financially, and that they have been respectful to other landlords), and preparing lease paperwork.</li>
<li><b>Advertising:</b>   Property Managers are experienced in writing effective ads to attract tenants quickly.  They  advertise online, place a sign on the property’s lawn, and  use a showing system whereby tenants may register to see the property from 8 am to 8 pm at night with ease.</li>
<li><b>Section 8:</b> PMs  have experience working with housing programs, qualifying both home and tenants, however most of the investment properties they  manage do not fit the profile of a section 8 tenant.</li>
</ol>
			</div>
		</div>
	</div>
</section>