html{position:relative;min-height:100%}
body{margin-bottom:60px}
.footer{position:absolute;bottom:0;width:100%;height:60px;display:table}

/* Fonts CSS */
@font-face{font-family:'AllerRG';src:url(../fonts/Aller_Rg.ttf)}
@font-face{font-family:'AllerDisplay';src:url(../fonts/Aller_Bd.ttf)}

/* Footer CSS */ 
footer{background:#333;padding:30px 0;font-family:'AllerRG'}
footer address{color:#fff}
footer address h5{margin-top:0}
footer .social-links{margin-top:36.5px}
footer .social-links a{height:32px;width:32px;border-radius:50%;background:#444;display:inline-block;line-height:32px;font-size:16px;color:#fff;margin-right:5px;text-align:center;box-shadow:0 0 2px 0 #090909;-webkit-box-shadow:0 0px 2px 0 #090909;-moz-box-shadow:0 0 2px 0 #090909;-ms-box-shadow:0 0 2px 0 #090909;-o-box-shadow:0 0 2px 0 #090909}
footer .social-links a:hover{background:#407cbb}

footer .deals-form-box{padding:20px;background:rgba(0,0,0,.5);border-radius:4px}
footer .deals-form-box h5{color:#fff;margin-top:0;margin-bottom:15px;font-size:18px}
footer .form-horizontal .pad-right{padding-right:0}
footer .form-horizontal .form-control{background:transparent;border:none;border-radius:0;box-shadow:none;border-bottom:solid 1px #666;padding:6px 0;font-size:13px}
footer .form-horizontal .form-control:focus{border-bottom-color:#407cbb}
footer .form-horizontal .btn{width:100%;background:transparent;border:solid 1px #666;color:#999}
footer .form-horizontal .btn:hover{border-color:#407cbb;background:#407cbb;color:#fff}

/* Newsletter Box CSS */
#newsletter{position:fixed;right:0;bottom:20px;height:204px;margin-left:-3px;margin-bottom:-3px;z-index:1000;font-family:'AllerDisplay'}
#newsletter-form{font-size:12px;float:right;width:300px;height:100%;z-index:1000;padding-left:0;padding-right:0;margin-right:20px;border:1px solid rgba(0,0,0,.2);-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,.2);
	box-shadow:0 0 4px #aaa;-webkit-box-shadow:0 0 4px #aaa;-moz-box-shadow:0 0 4px #aaa;-ms-box-shadow:0 0 4px #aaa;-o-box-shadow:0 0 4px #aaa}
#newsletter-form .panel-body{padding:20px}
#newsletter-form h5{margin-top:0;margin-bottom:15px;color:#407cbb}
#newsletter-tab{float:right;color:#fff;font-size:14px;line-height:40px;cursor:pointer;text-align:center;width:120px;height:40px;background:#454545;margin-top:40px;margin-right:-40px;border-radius:3px;border-top-right-radius:0;border-top-left-radius:0;-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg);box-shadow:0 0 4px #090909;-webkit-box-shadow:0 0 4px #090909;-moz-box-shadow:0 0 4px #090909;-ms-box-shadow:0 0 4px #090909;-o-box-shadow:0 0 4px #090909}
#newsletter-tab:hover{background:#407cbb}
#newsletter-tab .fa{margin-right:4px}

/* Scroll Top CSS */
.scroll-top-wrapper{position:fixed;opacity:0;visibility:hidden;overflow:hidden;text-align:center;z-index:1000;right:0;bottom:0;box-shadow:0 0 4px #090909;-webkit-box-shadow:0 0 4px #090909;-moz-box-shadow:0 0 4px #090909;-ms-box-shadow:0 0 4px #090909;-o-box-shadow:0 0 4px #090909}
.scroll-top-wrapper.show{visibility:visible;cursor:pointer;opacity:1.0;-webkit-transition:all 0.9s ease-out;
  -moz-transition:all 0.9s ease-out;
  -ms-transition:all 0.9s ease-out;
  -o-transition:all 0.9s ease-out;
  transition:all 0.9s ease-out}
.scroll-top-wrapper i.fa{font-size:24px;padding:5px 12px;background:#454545;color:#fff;border:solid 1px #454545}
.scroll-top-wrapper i.fa:hover{color:#fff;border:solid 1px #407cbb;background:#407cbb}

@media(max-width:479px){
	footer address
	#newsletter-form{width:220px}
	footer address{padding:0 25px}
}
@media(max-width:767px){
	footer address{text-align:center}
	footer .social-links{margin-top:15px;text-align:center}
	#newsletter{bottom:15px}
	#newsletter-form{margin-right:15px}
	#newsletter-form .panel-body{padding:15px}
}