<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12" ng:repeat="property in properties">
  <div class="listing-box" ng:click="clickableDiv('<%= properties_url %>', property.slug)">
	  <div class="img-box">
	    <a href="<%= properties_path %>/{{property.slug}}">
	    <img src="/custom/house-blank.png" lazy-img='{{property.image.image.url}}' class="img-responsive">
	    </a>
	    <span ng:class="getStatusClass(property.status)" ng:if="property.raw_status">{{property.raw_status}}</span>
	    <span class="status-tag-right blue" ng:if="property.leased == 1">Leased</span>
	  </div>
	  <h3><a href="<%= properties_path %>/{{property.slug}}">{{property.raw_title | limitTo: 42 }}{{property.raw_title.length > 42 ? '...' : ''}}</a></h3>
	  <ul class="labels">
	    <li class="price">${{property.raw_offer_price}}
	      <span ng:if="property.offer_price_label"> / {{property.offer_price_label}}</span>
	      </li>
	      <li class="person">{{property.raw_building_type}}</li>
	    </ul>
	    <ul class="price-flow">
	      <li>
	      	Cash Flow: 
	      	<span class="blue-text">{{property.raw_cash_flow && property.cash_flow > 0 ? '$'+property.raw_cash_flow : 'N/A'}}</span>
	      </li>
	      <li>Rent: 
	      	<span class="blue-text">{{property.raw_rent && property.rent > 0 ? '$'+property.raw_rent : 'N/A'}}</span>
	      </li>
	    </ul>
	    <ul class="numbers-details">
	      <li>
	      	<span data-toggle="tooltip" data-placement="top" title="Bedroom"><i class="fa fa-bed" aria-hidden="true"></i>{{property.bedrooms && property.bedrooms > 0 ? (property.bedrooms | number: 0) : 'N/A' }}</span>
	      </li>
	      <li>
	      	<span data-toggle="tooltip" data-placement="top" title="Bathroom"><i class="fa fa-bath" aria-hidden="true"></i>{{property.bathrooms && property.bathrooms > 0 ? (property.bathrooms | number: 0) : 'N/A'}}</span>
	      </li>
	      <li>
	      	<span data-toggle="tooltip" data-placement="top" title="Garage"><i class="fa fa-car" aria-hidden="true"></i>{{property.garages && property.garages > 0 ? (property.garages | number: 0) : 'N/A'}}</span>
	      </li>
	    </ul>
	 </div>
</div>
<script type="text/javascript">

// 	window.onload = function() {
//   progressiveImageLoad();
// }

// function progressiveImageLoad() {
//   var placeholder = $('.placeholder');
//   placeholder.each(function(index) {
//     if ($(this).children('img.loaded').length == 0) {
//       var imgLarge = new Image();
//       imgLarge.src = $(this).data('large');
//       imgLarge.onload = function(){
//         imgLarge.classList.add('loaded');
//       };
//       $(this).append(imgLarge);
//     }
// //   });
// $(document).ready(function(){
//  var placeholder = $('.placeholder');
//   placeholder.each(function(index) {
//   if ($(this).children('img.loaded').length == 0) {
//       var imgLarge = new Image();
//       imgLarge.src = $(this).data('large');
//       imgLarge.onload= function(){
//         imgLarge.addClass.add('loaded');
//       };
//       $(this).append(imgLarge);
//     }
//   })
// });
//   progressiveImageLoad();
// }

// function progressiveImageLoad() {
//   var placeholder = $('.placeholder');
//   placeholder.each(function(index) {
//     if ($(this).children('img.loaded').length == 0) {
//       var imgLarge = new Image();
//       imgLarge.src = $(this).data('large');
//       imgLarge.onload = function(){
//         imgLarge.classList.add('loaded');
//       };
//       $(this).append(imgLarge);
//     }
//   });
// }

</script>

<!-- <style type="text/css">
.placeholder {
  background-color: #f6f6f6;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.placeholder img {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 1s linear;
  border-radius: 100%;
}

.placeholder img.loaded {
  opacity: 1;
  border-radius: 100%;
}

.img-small {
  filter: blur(50px);
  /* this is needed so Safari keeps sharp edges */
  transform: scale(1);
}
</style> -->