<%= content_for :breadcrumb_link, "#{link_to @property.raw_title, @property}" %>
<%= content_for :page_title, "Editing: #{@property.raw_title}" %>
<div ng:controller="PropertyCtrl">
	<%= render 'form' %>
</div>