<%= render 'layouts/jumbtron' %>
<div ng:controller="PropertiesCtrl", id="PropertiesCtrl">
  <section class="main-body without-search-feature pad-btm-55">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="box-shadow">
            <ol class="breadcrumb">
              <li><%= link_to 'Home', root_url %></li>
              <li class="active">Properties</li>
              <% if current_user %>
              <li><%= link_to 'New', new_property_path %></li>
              <% end %>
            </ol>
          </div>
          <h1 class="common-title">Properties</h1>
          <div class="list-selection">
            <ul class="list-unstyled">
              <li ng:repeat="(key, val) in separate_building_types" ng:model="params.building_type" ng:click="filterPropertiesByBuildingType(val)" ng:class="{active : activeMenu === val}">
                <a href="">{{val.label}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row property-listing", id="property-listing">
        <%= render partial: 'properties' %>
        <div class="col-xs-12 text-center msg-content" ng:if="properties.length == 0">
          <h3 ng:if="loading">Loading...</h3>
          <h3 ng:if="!loading">No {{activeMenu.label == 'All' ? '' : activeMenu.label}} Properties Found</h3>
        </div>
      </div>
      <div ng:if="meta.total_pages > 1" class="col-xs-12 text-center" ng:show="meta.next_page">
        <a href="" class="btn btn-lg border-btn space-setting" ng:click="toPage(meta.next_page)" ng:class="{'invisible':!meta.next_page}"><i class="fa fa-th" aria-hidden="true"></i> View More Offers</a>
      </div>
    </div>
  </section>
</div>