<div ng:controller="PropertiesCtrl">
  
  <ol class="breadcrumb">
    <li><%= link_to 'Home',root_url %></li>
    <li class="active">Properties</li>
    <% if current_user %>
      <li><%= link_to 'New',new_property_path %></li>
    <% end %>
  </ol>

  <div>
    <h1>Properties</h1>
  </div>

  <hr>

  <div class="panel panel-default">
    <div class="panel-body">
      
      <form class="form-inline">
        <div class="form-group">
          <select
            class="form-control"
            ng:model="params.building_type"
            ng:options="key as val.label for (key,val) in building_types"
            ng:change="getProperties()"
          >
            <option value="">All Properties</option>
          </select>
        </div>
      </form>

    </div>
  </div>

  <div class="row">

    <div class="col-md-3">
      
      <!-- <input type="text" class="form-control" ng:model="search" placeholder="Search..." onstop="params.address = '*'+search+'*'; getProperties()" /> -->

    </div>

    <div class="col-md-9" align="right">
      
      <nav ng:if="meta.total_pages > 1">
        <ul class="pagination pagination-sm">
          <li ng:class="{'invisible':!meta.prev_page}">
            <a href="" aria-label="Previous" ng:click="toPage(meta.prev_page)">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li ng:repeat="i in createArray(meta.total_pages) track by $index" ng:class="{'active':meta.current_page == ($index+1)}">
            <a href="" ng:click="toPage($index+1)">{{$index+1}}</a>
          </li>
          <li ng:class="{'invisible':!meta.next_page}">
            <a href="" aria-label="Next" ng:click="toPage(meta.next_page)">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

    </div>

  </div>

  <div class="list-group">

    <h3 class="text-muted" ng:if="loading">Loading...</h3>
    <h3 class="text-muted" ng:if="!loading && properties.length == 0">No properties found</h3>

    <a
      href="<%= properties_path %>/{{property.slug}}"
      class="list-group-item"
      ng:repeat="property in properties"
    >

      <div class="row">

        <div class="col-lg-3 col-md-3">
            
            <img ng:src="{{property.image.image.url}}" class="img-thumbnail" />

        </div>

        <div class="col-lg-9 col-md-9">
          
          <h2>
            {{property.raw_title}}<br>
            <small ng:if="property.title">{{property.city.capitalize()}}, {{property.state.toUpperCase()}}</small>
          </h2>
          
          <h4>
            <span class="label label-warning">{{property.raw_status}}</span> <span class="label label-success">${{property.raw_offer_price}} <span ng:if="property.offer_price_label">{{property.offer_price_label}}</span></span>
          </h4>

          <ul class="property-info">
            <li><span class="">{{property.raw_building_type}}</span></li>
            <li ng:if="property.cash_flow > 0">Cash Flow: <span class="green">${{property.raw_cash_flow}}</span></li>
            <li ng:if="property.rent > 0">Rent: <span class="green">${{property.raw_rent}}</span></li>
            <li ng:if="property.bedrooms > 0">BD: <span class="blue">{{property.bedrooms}}</span></li>
            <li ng:if="property.bathrooms > 0">BA: <span class="blue">{{property.bathrooms}}</span></li>
            <li ng:if="property.garages > 0">GA: <span class="blue">{{property.garages}}</span></li>
          </ul>

        </div>

      </div>

    </a>

  </div>

  <div class="row">

    <div class="col-md-3">
      
      <!-- <input type="text" class="form-control" ng:model="search" placeholder="Search..." onstop="params.address = '*'+search+'*'; getProperties()" /> -->

    </div>

    <div class="col-md-9" align="right">
      
      <nav ng:if="meta.total_pages > 1">
        <ul class="pagination pagination-sm">
          <li ng:class="{'invisible':!meta.prev_page}">
            <a href="" aria-label="Previous" ng:click="toPage(meta.prev_page)">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li ng:repeat="i in createArray(meta.total_pages) track by $index" ng:class="{'active':meta.current_page == ($index+1)}">
            <a href="" ng:click="toPage($index+1)">{{$index+1}}</a>
          </li>
          <li ng:class="{'invisible':!meta.next_page}">
            <a href="" aria-label="Next" ng:click="toPage(meta.next_page)">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

    </div>

  </div>

</div>