<ol class="breadcrumb">
  <li><%= link_to 'Home',root_url %></li>
  <li><%= link_to 'Properties',properties_path %></li>
  <li class="active">New</li>
</ol>

<h1>New Property</h1>

<%= render 'form' %>