<div id="home-contact" class="modal fade" role="dialog" ng:controller="TicketCtrl">
  <div class="modal-dialog property-contact-popup">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <uib-alert ng:repeat="alert in alerts" type="{{alert.type}}">{{alert.message}}</uib-alert>
        <h4 class="modal-title"><i class="fa fa-envelope" aria-hidden="true"></i> Contact Us</h4>
      </div>
      <div class="modal-body">
        <form name="ticket_form" ng:submit="submitForm()" class="form-horizontal" novalidate>
          <div class="form-group">
            <div class="col-sm-6 col-xs-12">
              <i class="fa fa-user input-icons" aria-hidden="true"></i>
              <input id="first_name" type="text" class="form-control" ng:model="inquiry.first_name" placeholder="First Name" required>
            </div>
            <div class="col-sm-6 col-xs-12 last-name">
              <i class="fa fa-user input-icons" aria-hidden="true"></i>
              <input id="last_name" type="text" class="form-control" ng:model="inquiry.last_name" placeholder="Last Name" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <i class="fa fa-envelope input-icons" aria-hidden="true"></i>
            <input id="email" type="email" class="form-control" ng:model="inquiry.email" placeholder="Email" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <i class="fa fa-phone input-icons" aria-hidden="true"></i>
            <input id="phone" type="tel" class="form-control" ng:model="inquiry.phone" placeholder="Phone #" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <i class="fa fa-pencil-square-o input-icons" aria-hidden="true"></i>
            <input id="subject" type="text" class="form-control" ng:model="inquiry.subject" placeholder="A brief description of the inquiry" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <i class="fa fa-pencil-square-o input-icons" aria-hidden="true"></i>
            <textarea id="description" rows="4" class="form-control" ng:model="inquiry.description" placeholder="Please describe the nature of your inquiry" required></textarea>
            </div>
          </div>
          <div class="form-group btns-row">
            <div class="col-xs-12">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng:model="inquiry.newsletter"><span class="cr"><i class="cr-icon fa fa-check"></i></span> Sign up for our Newsletter
              </label>
            </div>
            <button type="submit" class="btn blue-btn" ng:disabled="!ticket_form.$valid" ng:if="!loading"><i class="fa fa-check" aria-hidden="true"></i> Submit</button>
            <button type="submit" class="btn btn-warning" ng:disabled="true" ng:if="loading"><i class="fa fa-ellipsis-h" aria-hidden="true"></i> Submitting</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>




<div id="paradise-home-contact" class="modal fade" role="dialog" ng:controller="TicketCtrl">
  <div class="modal-dialog property-contact-popup">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <uib-alert ng:repeat="alert in alerts" type="{{alert.type}}">{{alert.message}}</uib-alert>
        <h4 class="modal-title"><i class="fa fa-envelope" aria-hidden="true"></i> I would like to receive more information on Paradise Valley Assisted Living</h4>
      </div>
      <div class="modal-body">
        <form name="ticket_form" ng:submit="submitForm()" class="form-horizontal" novalidate>
          <div class="form-group">
            <div class="col-sm-6 col-xs-12">
              <i class="fa fa-user input-icons" aria-hidden="true"></i>
              <input id="first_name" type="text" class="form-control" ng:model="inquiry.first_name" placeholder="First Name" required>
            </div>
            <div class="col-sm-6 col-xs-12 last-name">
              <i class="fa fa-user input-icons" aria-hidden="true"></i>
              <input id="last_name" type="text" class="form-control" ng:model="inquiry.last_name" placeholder="Last Name" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <i class="fa fa-envelope input-icons" aria-hidden="true"></i>
            <input id="email" type="email" class="form-control" ng:model="inquiry.email" placeholder="Email" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <i class="fa fa-phone input-icons" aria-hidden="true"></i>
            <input id="phone" type="tel" class="form-control" ng:model="inquiry.phone" placeholder="Phone #" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <i class="fa fa-pencil-square-o input-icons" aria-hidden="true"></i>
            <input id="subject" type="text" class="form-control" ng:model="inquiry.subject" placeholder="A brief description of the inquiry" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <i class="fa fa-pencil-square-o input-icons" aria-hidden="true"></i>
            <textarea id="description" rows="4" class="form-control" ng:model="inquiry.description" placeholder="Please describe the nature of your inquiry" required></textarea>
            </div>
          </div>
          <div class="form-group btns-row">
            <div class="col-xs-12">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng:model="inquiry.newsletter"><span class="cr"><i class="cr-icon fa fa-check"></i></span> Sign up for our Newsletter
              </label>
            </div>
            <button type="submit" class="btn blue-btn" ng:disabled="!ticket_form.$valid" ng:if="!loading"><i class="fa fa-check" aria-hidden="true"></i> Submit</button>
            <button type="submit" class="btn btn-warning" ng:disabled="true" ng:if="loading"><i class="fa fa-ellipsis-h" aria-hidden="true"></i> Submitting</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>