<%= render 'layouts/jumbtron' %>
<section class="main-body without-search-feature">
  <div class="container" ng:controller="AssetsCtrl">
    <div class="row content-section">
      <div class="col-xs-12">
        <div class="box-shadow">
          <ol class="breadcrumb">
            <li><%= link_to 'Home',root_url %></li>
            <li class="active">Resources</li>
          </ol>
        </div>
      </div>
      <div class="col-xs-12">
        <h1>Resources</h1>
        <% if current_user %>
          <div align="right"><%= link_to new_jasset_path, class: 'btn blue-btn' do %><i class="fa fa-plus" aria-hidden="true"></i> New<% end %>
          </div>
        <% end %>
        <div class="list-group mar-top-15">
          <div class="list-group-item resources-data" ng:repeat="asset in assets.items">
            <div class="row">
              <div class="col-md-2 col-sm-3"><img ng:src="{{asset.image.image.thumb.url}}" class="img-thumbnail" ng:if="asset.image.image.thumb.url" alt=""></div>
              <div class="col-md-10 col-sm-9">
                <h4>{{asset.title}}</h4>
                <p><span ng-bind-html="asset.description"></span></p>
                <a href="{{asset.link_uri}}" target="_blank" class="btn blue-btn"><i class="fa fa-download fa-lg" aria-hidden="true"></i> {{asset.link_name}}</a>
                <% if current_user %>
                  <a href="<%= jassets_path %>/{{asset.id}}/edit" class="btn btn-success" title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                  <button type="button" class="btn btn-danger" ng:click="removeAsset(asset,$index)" ng:disabled="assets.meta.removeLoading[asset.id]" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>