<% set_meta_tags(title: t('seo.blog.index.title'), description: t('seo.blog.index.description'), image: asset_url(t('seo.image_1')), twitter: {image: asset_url(t('seo.image_1'))}, og: {image: asset_url(t('seo.image_1'))}) %>
<%= render 'layouts/jumbtron' %>
<section class="main-body without-search-feature pad-btm-55">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="box-shadow">
          <ol class="breadcrumb">
            <li><%= link_to 'Home', root_url %></li>
            <li class="active">Jobs</li>
            <% if current_user %>
              <li><%= link_to 'New', new_job_posting_path %></li>
            <% end %>
          </ol>
        </div>
      </div>
    </div>
    <div class="row blog-content-section">
      <div class="col-xs-12">
        <h1>Current Posted Jobs in Market</h1>
        <div class="row">
          <% if @job_postings.any? %>
            <%= render partial: 'job_posting', locals: {job_postings: @job_postings} %>
          <% else %>
            <div class="col-xs-12 msg-content text-center">
              <h3>No Jobs Found</h3>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</section>
