<% set_meta_tags(title: "#{t('seo.contact_us.title')} - #{t('seo.site_title')}", description: t('seo.contact_us.description'), image: asset_url(t('seo.image_1')), twitter: {image: asset_url(t('seo.image_2'))}, og: {image: asset_url(t('seo.image_2'))}) %>
<%= render 'layouts/jumbtron' %>
<section class="main-body without-search-feature">
  <div class="container" ng:controller="TicketCtrl">
    <div class="row content-section" id="contact-form">
      <div class="col-xs-12">
        <div class="box-shadow">
          <ol class="breadcrumb">
            <li><%= link_to 'Home',root_url %></li>
            <li class="active">Contact Us</li>
          </ol>
        </div>
      </div>
      <div class="col-xs-12">
        <h1>Contact Us for Investing in Real Estate</h1>
        <uib-alert ng:repeat="alert in alerts" type="{{alert.type}}">{{alert.message}}</uib-alert>
        <address>
          <b>Wilson Investment Properties, Inc.</b><br>
          14435 Big Basin Way, Ste 240<br>
          Saratoga, CA 95070<br>
          <abbr title="Phone">Phone:</abbr> <%= PHONE_NUMBER %>
        </address>
        <div class="row mar-btm-30" ng:if="show_form">
          <div class="col-md-6 contact-us">
            <form name="ticket_form" ng:submit="submitForm()" novalidate>
              <div class="form-group">
                <label for="first_name">First Name</label><br>
                <input id="first_name" type="text" class="form-control" ng:model="inquiry.first_name" placeholder="First Name" required>
              </div>
              <div class="form-group">
                <label for="last_name">Last Name</label><br>
                <input id="last_name" type="text" class="form-control" ng:model="inquiry.last_name" placeholder="Last Name" required>
              </div>
              <div class="form-group">
                <label for="email">Email</label><br>
                <input id="email" type="email" class="form-control" ng:model="inquiry.email" placeholder="Email" required>
              </div>
              <div class="form-group">
                <label for="phone">Phone #</label><br>
                <input id="phone" type="tel" class="form-control" ng:model="inquiry.phone" placeholder="Phone #" required>
              </div>
              <div class="form-group">
                <label for="subject">Subject</label><br>
                <input id="subject" type="text" class="form-control" ng:model="inquiry.subject" placeholder="A brief description of the inquiry" required>
              </div>
              <div class="form-group">
                <label for="description">Description</label><br>
                <textarea id="description" rows="6" class="form-control" ng:model="inquiry.description" placeholder="Please descripbe the nature of your inquiry" required></textarea>
              </div>
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng:model="inquiry.newsletter"><span class="cr"><i class="cr-icon fa fa-check"></i></span> Sign up for our Newsletter
                  </label>
              	</div>
              <button type="submit" class="btn blue-btn mar-top-15" ng:disabled="!ticket_form.$valid" ng:if="!loading">
                <i class="fa fa-check" aria-hidden="true"></i> Submit</button>
              <button type="submit" class="btn btn-warning mar-top-15" ng:disabled="true" ng:if="loading"><i class="fa fa-ellipsis-h" aria-hidden="true"></i> Submitting</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>