<div ng:controller="TicketCtrl">

	<ol class="breadcrumb">
	  <li><%= link_to 'Home',root_url %></li>
	  <li class="active">Contact Us</li>
	</ol>

	<div>
	  <h1>Contact Us</h1>
	</div>

	<hr>

	<uib-alert
		ng:repeat="alert in alerts"
		type="{{alert.type}}"
	>{{alert.message}}</uib-alert>

	<address>
	  <strong>Wilson Investment Properties, Inc.</strong><br>
	  14435 Big Basin Way, Ste 240<br>
	  Saratoga, CA 95070<br>
	  <abbr title="Phone">Phone:</abbr> <%= PHONE_NUMBER %>
	</address>
	
	<div class="row" ng:if="show_form">
		
		<div class="col-md-6">
			
			<form name="ticket_form" ng:submit="submitForm()" novalidate>

				<div class="form-group">
					
					<label>Full Name</label><br>
					<input
						type="text"
						class="form-control"
						ng:model="inquiry.name"
						placeholder="Full Name"
						required
					/>

				</div>

				<div class="form-group">
					
					<label>Email</label><br>
					<input
						type="email"
						class="form-control"
						ng:model="inquiry.email"
						placeholder="Email"
						required
					/>

				</div>

				<div class="form-group">
				  <label>Phone #</label><br>
				  <input
				    type="tel"
				    class="form-control" 
				    ng:model="inquiry.phone"
				    placeholder="Phone #"
				    required
				  />
				</div>

				<div class="form-group">
					
					<label>Subject</label><br>
					<input
						type="text"
						class="form-control"
						ng:model="inquiry.subject"
						placeholder="A brief description of the inquiry"
						required
					/>

				</div>

				<div class="form-group">
					
					<label>Description</label><br>
					<textarea
						rows="6"
						class="form-control"
						ng:model="inquiry.description"
						placeholder="Please descripbe the nature of your inquiry"
						required
					></textarea>

				</div>

				<div class="form-group">
				  <div class="checkbox">

				    <label>
				      <input type="checkbox" ng:model="inquiry.newsletter" /> Sign up for our Newsletter
				    </label>

				  </div>
				</div>

				<input
					type="submit"
					class="btn btn-success"
					value="Submit"
					ng:disabled="!ticket_form.$valid"
					ng:if="!loading"
				/>
				<input
					type="submit"
					class="btn btn-warning"
					value="Submitting..."
					ng:disabled="true"
					ng:if="loading"
				/>

			</form>

		</div>

	</div>

</div>