.profile h2 {
	margin-top: 0;
}
.top-50 {
	margin-top: 50px;
}
.top-20 {
	margin-top: 20px;
}
.bottom-20 {
	margin-bottom: 20px;
}
pre {
	word-wrap: break-word;
}
.map {
	height: 240px;
}
.login-button {
	display: block;
	height: 110px;
	/*background-color: green;*/
}
.invisible {
	visibility: hidden;
}
.btn-meetup {
	display: inline-block;
	height: 34px !important;
	width: 51px !important;
	background: asset_url('sm-mu.png') no-repeat center center !important;
}
table.address-table tr td:first-child {
	padding-right: 10px;
}
.faq-questions-list > li,
.faq-info-list > li {
	padding-top: 4px;
	padding-bottom: 4px;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 110px !important;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 110px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
footer .container .text-muted {
  margin: 20px 0;
  font-size: 12px;
}
.top-zero {
	margin-top: 0px !important;
}
.no-wrap {
	white-space: nowrap !important;
}
td.vmiddle {
	vertical-align: middle !important;
}
.top-alert {
	padding-top: 14px;
	padding-bottom: 14px;
	font-size: 16px;
}
.social-links {
	margin-bottom: 0px !important
}
.top-loader {
	width: 110% !important;
	border-radius: 0px !important;
	position: absolute !important;
	height: 4px !important;
	left: -5px !important;
	top: 0px !important;
	/*background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-color: rgb(226,184,91) !important;*/
}
.top-loader > .progress-bar {
	background-color: rgb(226,184,91) !important;
}
html.turbolinks-progress-bar::before {
  background-color: #ffdd93 !important;
  height: 4px !important;
}



.property-info {
  padding: 0 !important;
  margin-top: 16px !important;
  list-style: none !important;
}
.property-info > li {
  display: inline-block !important;
  font-family: AllerDisplay;
}
.property-info > li > .green {
	color: #5cb85c;
}
.property-info > li > .blue {
	color: #3989d2;
}
.property-info > li + li:before {
  padding: 0 5px !important;
  color: #ccc !important;
  content: "/\00a0" !important;
}
.property-info > .active {
  color: #777 !important;
}

/*.navbar .nav > li > a {
	font-size: 18px !important;
	text-shadow: 2px 2px 1px #383838
}*/

.capitalize {
	text-transform: capitalize;
}


.form-group.required label:after {
  content:"*";
  color:red;
}
.nav-spacer {
	height: 200px;
}