.btn:focus, .btn:active{outline:none !important}
.border-btn, .border-btn:focus{border:solid 1px #407cbb;font-family:'AllerRG';background:transparent;color:#407cbb;box-shadow:none !important}
.border-btn:hover{color:#fff;background:#407cbb}
.border-btn .fa, .blue-btn .fa{margin-right:6px}
.border-btn.space-setting{margin-top:30px;margin-bottom:60px}

.blue-btn, .blue-btn:focus{border:solid 1px #407cbb;font-family:'AllerRG';background:#407cbb;color:#fff;box-shadow:none !important}
.blue-btn:hover{color:#fff;background:#444;border-color:#444}

.mar-top-15{margin-top:15px}

.blog-img-header{margin-top:44px;overflow:hidden}
.blog-img-header img{background-position:50%}

.latest-blogs-section{background:#f5f5f5;padding:50px 0;margin-bottom:65px;font-family:'AllerRG';-webkit-box-shadow: 0 0 4px 1px #ccc;-moz-box-shadow: 0 0 4px 1px #ccc;-ms-box-shadow: 0 0 4px 1px #ccc;-o-box-shadow: 0 0 4px 1px #ccc;box-shadow: 0 0 4px 1px #ccc}
.latest-blogs-section h2{margin-top:0;margin-bottom:15px;font-size:32px;line-height:1;color:#525252}
.latest-blogs-section .item{padding:0 15px}
.latest-blogs-section .blog-listing{padding-left:0;padding-right:0}
.latest-blogs-section .blog-listing .listing-box{margin-bottom:0}

/* Body Section CSS */
.main-body.without-search-feature{font-family:'AllerRG';margin-top:0;margin-bottom:60px}
.main-body.only-bread-crumb{margin-top:0;margin-bottom:60px}
.box-shadow{-webkit-box-shadow: 0 0 4px#999;
-moz-box-shadow: 0 0 4px #999;
-ms-box-shadow: 0 0 4px #999;
-o-box-shadow: 0 0 4px #999;
box-shadow: 0 0 4px #999;display:table;width:100%}

.breadcrumb{border-radius:0;font-size:12px;background:#f5f5f5;margin-bottom:0;margin-top:0;word-break:break-all}

.status-dtls{padding:0;margin:0;list-style:none;color:#999}
.status-dtls li{display:table-cell;padding-right:15px}
.status-dtls li .fa{margin-right:6px}
.status-dtls li a{text-decoration:none}
.status-dtls li a.comment{color:#ef5350}
.status-dtls li a.fav{color:#8BC34A}

.content-section h1{margin-top:30px;margin-bottom:15px;border-bottom:solid 1px #ddd;padding-bottom:5px;font-size:30px;color:#0288D1;word-break:break-all}
.content-section h2, .content-section h3, .content-section h4, .content-section h5, .content-section h6{margin-top:30px;margin-bottom:15px}
.content-section p{color:#444;text-align:justify}
.content-section .featured-img{margin-bottom:20px}
.content-section .status-dtls{margin-top:-5px;margin-bottom:15px}

.blog-listing .listing-box{display:block;position:relative;overflow:hidden;width:100%;height:486px;margin-bottom:30px;padding-bottom:10px;cursor:pointer;background:#fff;-webkit-box-shadow:0 0 4px#999;-moz-box-shadow:0 0 4px #999;-ms-box-shadow:0 0 4px #999;-o-box-shadow:0 0 4px #999;box-shadow:0 0 4px #999}
.blog-listing .listing-box:hover{-webkit-box-shadow:0 0 4px#454545;-moz-box-shadow:0 0 4px #454545;-ms-box-shadow:0 0 4px #454545;-o-box-shadow:0 0 4px #454545;box-shadow:0 0 4px #454545}
.blog-listing .listing-box:hover h3 a{color:#0288D1}
.blog-listing .listing-box:hover .img-box img{transform:scale(1.1);-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1)}
.blog-listing .listing-box .img-box{overflow:hidden;height:200px}
.blog-listing .listing-box .img-box img{display:inline-block;transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out}
.blog-listing .listing-box h3{font-size:16px;height:40px;border-bottom:solid 1px #ddd;padding-left:15px;padding-right:15px}
.blog-listing .listing-box p{color:#888;padding-left:15px;padding-right:15px}
.blog-listing .listing-box a{text-decoration:none;color:#525252;display:block;position:relative;word-break:break-all;}
.blog-listing .listing-box .status-dtls{position:absolute;bottom:0;padding:10px 0 10px 15px;border-top:solid 1px #ddd;display:table}
.blog-listing .listing-box .status-dtls li{width:1%}
.blog-listing .listing-box .status-dtls a{color:#ef5350}
.blog-listing .listing-box:hover .status-dtls a{color:#0288D1}

.pagination{display:none}

@media(max-width:479px){
	.border-btn{padding:8px;font-size:13px}
	.content-section h1{font-size:18px}
	.content-section h3{margin-top:20px;font-size:16px}
	.blog-listing .col-xs-12{width:100%}
	.blog-listing .listing-box{height:auto}
	.blog-listing .listing-box h3{height:auto;padding-bottom:15px}
	.latest-blogs-section h2{font-size:22px}

}
@media(min-width:480px) and (max-width:767px){
	.border-btn{padding:8px 14px;font-size:16px}
	.content-section h1{font-size:24px}
	.content-section h3{margin-top:20px;font-size:20px}
	.blog-listing .col-xs-12{width:50%}
	.blog-listing .listing-box{height:502px}
	.blog-listing .listing-box h3{height:60px}
	.latest-blogs-section h2{font-size:26px}
}
@media(max-width:767px){
	.main-body.without-search-feature{margin-bottom:230px}
	.blog-img-header{margin-top:66px}
	.latest-blogs-section{margin-bottom:212px}
	.latest-blogs-section .item{padding:0 7.5px}
	.blog-listing, .blog-listing .col-xs-12{padding-left:7.5px;padding-right:7.5px}
}
@media(min-width:768px) and (max-width:991px){
	.content-section h1{font-size:28px}
	.blog-listing .listing-box{height:476px}
}
@media(max-width:1400px){
	.blog-img-header{max-height:320px}
}
