.btn:focus, .btn:active{outline:none !important}
.border-btn, .border-btn:focus{border:solid 1px #407cbb;font-family:'AllerRG';background:transparent;color:#407cbb;box-shadow:none !important}
.border-btn:hover{color:#fff;background:#407cbb}
.border-btn .fa, .blue-btn .fa{margin-right:6px}
.border-btn.space-setting{margin-top:30px;margin-bottom:60px}

.blue-btn, .blue-btn:focus{border:solid 1px #407cbb;font-family:'AllerRG';background:#407cbb;color:#fff;box-shadow:none !important}
.blue-btn:hover{color:#fff;background:#444;border-color:#444}
.mar-top-30{margin-top:30px}
/* Body Section CSS */
.main-body.without-search-feature{font-family:'AllerRG';margin-top:0;margin-bottom:125px}
.main-body.without-title{margin-top:-70px;margin-bottom:225px}
.box-shadow{-webkit-box-shadow: 0 0 4px#999;
-moz-box-shadow: 0 0 4px #999;
-ms-box-shadow: 0 0 4px #999;
-o-box-shadow: 0 0 4px #999;
box-shadow: 0 0 4px #999;display:table;width:100%}

.breadcrumb{border-radius:0;font-size:12px;background:#f5f5f5;margin-bottom:0;margin-top:0}

.content-section h1{margin-top:30px;margin-bottom:15px;border-bottom:solid 1px #ddd;padding-bottom:5px;font-size:30px;color:#0288D1}
.content-section h3{margin-top:30px;font-size:22px}
.content-section p{color:#444;text-align:justify}

@media(max-width:479px){
	.content-section h1{font-size:18px}
	.content-section h3{margin-top:20px;font-size:16px}
}
@media(min-width:480px) and (max-width:767px){
	.content-section h1{font-size:24px}
	.content-section h3{margin-top:20px;font-size:20px}
}
@media(max-width:767px){
	.main-body.without-search-feature{margin-bottom:244px}
}
@media(min-width:768px) and (max-width:991px){
	.content-section h1{font-size:28px}
}
@media(max-width:991px){
}
@media(min-width:992px) and (max-width:1199px){
}