/* Menu CSS */
.navbar-brand{padding:11px 15px 0 15px;height:auto;}
.navbar-default{height:44px;background-color:#fff;font-family:'AllerRG';-webkit-box-shadow:0 0 4px #ccc;-moz-box-shadow:0 0 4px #ccc;-ms-box-shadow:0 0 4px #ccc;-o-box-shadow:0 0 4px #ccc;box-shadow:0 0 4px #ccc;z-index:1030}
.navbar-default.blue{background-color:#5296d0}
.nav.navbar-nav{float:right}
.navbar{min-height:44px;border-bottom:0;margin-bottom:0}
.navbar-default .navbar-nav > li > a{color:#5296d0;padding:12px 15px !important;height:auto}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{color:#5296d0}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{color:#FFF;background-color:#5296d0;color:#fff}
.navbar-nav > li > .dropdown-menu{left:auto;right:-1px;border-radius:0;padding:0;margin-top:-1px}
.navbar-nav > li > .dropdown-menu .divider{margin:0}
.navbar-nav > li > .dropdown-menu > li > a{padding:10px 20px;border-bottom:solid 1px #e5e5e5;color:#575757 !important}
.navbar-nav > li > .dropdown-menu > li > a:hover{color:#5296d0 !important}
.flag-icon img{width:29px}
@media(max-width:767px){
	.nav.navbar-nav{float:none}
	.navbar-default{height:auto}
	.navbar-brand{padding:8px 15px}
	.navbar-brand img{height:50px}
  .navbar-default  .navbar-toggle{margin-top:16px;margin-bottom:16px;
    border-color:#4c8dd2;background-color:#4c8dd2}
  .navbar-default  .navbar-toggle .icon-bar{background:#fff}

  .navbar-default .navbar-toggle.collapsed{border-color:#4c8dd2;background-color:#fff}
  .navbar-default .navbar-toggle.collapsed .icon-bar, 
  .navbar-default .navbar-toggle.collapsed:hover .icon-bar, 
  .navbar-default .navbar-toggle.collapsed:focus  .icon-bar{background-color:#4c8dd2}
}
@media(min-width:768px) and (max-width:991px){
  .navbar > .container .navbar-brand{padding-right:0}
  .navbar-default .navbar-nav > li > a{padding:12px 5px !important}
  .navbar-default .navbar-nav > li.flag-icon > a{padding:15px 5px !important}
  .flag-icon img{width:20px}
}
@media(min-width:768px){
  .navbar-right{margin-right:0}
}