html{position:relative;min-height:100%}
body{margin-bottom:60px}
.footer{position:absolute;bottom:0;width:100%;height:60px;display:table}

/* Fonts CSS */
@font-face{font-family:'AllerRG';src:asset_url('Aller_Rg.ttf')}
@font-face{font-family:'AllerDisplay';src:asset_url('Aller_Bd.ttf')}

.topfix{margin-top:44px !important}
.topfix .jumbotron{padding:0;margin:0;min-height:300px}

/* Footer CSS */ 
footer{background:#333 !important;padding:30px 0;font-family:'AllerRG'}
footer address{color:#fff}
footer address h5{margin-top:0}
footer .social-links{margin-top:36.5px}
footer .social-links a.icons{height:32px;width:32px;border-radius:50%;background:#444;display:inline-block;line-height:32px;font-size:16px;color:#fff;margin-right:5px;text-align:center;box-shadow:0 0 2px 0 #090909;-webkit-box-shadow:0 0px 2px 0 #090909;-moz-box-shadow:0 0 2px 0 #090909;-ms-box-shadow:0 0 2px 0 #090909;-o-box-shadow:0 0 2px 0 #090909}
footer .social-links a.icons:hover{background:#407cbb}
footer .social-links a.meetup{float:right;margin-left:5px}
footer .social-links a.meetup img{width:46px}

footer .deals-form-box{padding:20px;background:rgba(0,0,0,.5);border-radius:4px}
footer .deals-form-box h5{color:#fff;margin-top:0;margin-bottom:15px;font-size:18px}
footer .form-horizontal .pad-right{padding-right:0}
footer .form-horizontal .form-control{background:transparent;border:none;border-radius:0;box-shadow:none;border-bottom:solid 1px #666;padding:6px 0;font-size:13px}
footer .form-horizontal .form-control:focus{border-bottom-color:#407cbb}
footer .form-horizontal .btn{width:100%;background:transparent;border:solid 1px #666;color:#999}
footer .form-horizontal .btn:hover{border-color:#407cbb;background:#407cbb;color:#fff}

/* Newsletter Box CSS */ #newsletter-form{display:none}
#newsletter-form{display:none}
#newsletter{position:fixed;right:0;top:120px;height:345px;margin-left:-3px;margin-bottom:-3px;z-index:1000;font-family:'AllerRG'}
#newsletter-form{font-size:12px;float:right;width:450px;height:100%;z-index:1000;padding-left:0;padding-right:0;margin-right:20px;border:1px solid rgba(0,0,0,.2);-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,.2);box-shadow:0 0 4px #aaa;-webkit-box-shadow:0 0 4px #aaa;-moz-box-shadow:0 0 4px #aaa;-ms-box-shadow:0 0 4px #aaa;-o-box-shadow:0 0 4px #aaa}
#newsletter-form .panel-body{padding:20px}
#newsletter-form .form-group{position:relative}
#newsletter-form .form-group .fa{position:absolute;left:10px;top:14px;color:#999}
#newsletter-form .form-control{box-shadow:none;padding:0 12px 0 30px;height:40px}
#newsletter-form .form-control:hover{border-color:#66afe9}
#newsletter-form .form-control:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);-ms-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);-o-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)}
#newsletter-form h5{margin-top:0;margin-bottom:15px;color:#407cbb;font-size:18px;border-bottom:solid 1px #ddd;padding-bottom:10px}
#newsletter-form .border-btn{height:40px}
#newsletter-tab{float:right;color:#fff;font-size:16px;line-height:50px;cursor:pointer;text-align:center;width:250px;height:50px;background:#FB8C00;margin-top:100px;margin-right:-100px;border-radius:3px;border-top-right-radius:0;border-top-left-radius:0;-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg)}
#newsletter-tab .fa{margin-right:4px}

/* Scroll Top CSS */
.scroll-top-wrapper{position:fixed;opacity:0;visibility:hidden;overflow:hidden;text-align:center;z-index:1000;right:0;bottom:0;box-shadow:0 0 4px #090909;-webkit-box-shadow:0 0 4px #090909;-moz-box-shadow:0 0 4px #090909;-ms-box-shadow:0 0 4px #090909;-o-box-shadow:0 0 4px #090909}
.scroll-top-wrapper.show{visibility:visible;cursor:pointer;opacity:1.0;-webkit-transition:all 0.9s ease-out;
  -moz-transition:all 0.9s ease-out;
  -ms-transition:all 0.9s ease-out;
  -o-transition:all 0.9s ease-out;
  transition:all 0.9s ease-out}
.scroll-top-wrapper i.fa{font-size:24px;padding:5px 12px;background:#454545;color:#fff;border:solid 1px #454545}
.scroll-top-wrapper i.fa:hover{color:#fff;border:solid 1px #407cbb;background:#407cbb}
/* News letter modal css */
.modal.ng-isolate-scope .modal-dialog{margin-top:80px}
@media(max-width:479px){
	footer address{padding:0 10px}
	#newsletter{height:350px}
	#newsletter-form{width:170px;margin-right:0;margin-bottom:0}
  #newsletter-form h5{font-size:14px}
  #newsletter-tab{margin-top:105px;margin-right:-106px;height:40px;line-height:40px}
}
@media(min-width:480px) and (max-width:767px){
  #newsletter{height:360px;bottom:15px}
  #newsletter-form{width:360px;margin-right:15px}
}
@media(max-width:767px){
	footer address{text-align:center}
	footer .social-links{margin-top:15px;text-align:center}
  footer .social-links a.meetup{float:none;display:inline-block;margin-left:0;margin-bottom:-8px}

  #newsletter{display:none}
	#newsletter-form .panel-body{padding:15px}
  #newsletter-form .no-pad-left{padding-right:0}
  #newsletter-form .no-pad-left-right{padding-right:0;margin-top:15px}
}