.btn:focus, .btn:active{outline:none !important}
.border-btn{border:solid 1px #407cbb;font-family:'AllerRG';background:transparent;color:#407cbb}
.border-btn:hover{color:#fff;background:#407cbb}
.border-btn .fa{margin-right:6px}
.border-btn.space-setting{margin-top:30px;margin-bottom:60px}

/* Listing Page CSS */
.inner-pages-header{height:300px;margin-top:44px;display:inline-block;width:100%;max-height:300px;overflow:hidden}
.inner-pages-header img{width:100%}

/* Body Section CSS */
.main-body{font-family:'AllerRG';margin-top:-136px;margin-bottom:65px}
.main-body h1{font-size:36px;color:#525252;font-family:'AllerDisplay';margin-top:0;color:#fff;margin-bottom:30px;color:#eee;text-shadow:2px 2px 4px #000}
.box-shadow{-webkit-box-shadow: 0 0 4px#999;
-moz-box-shadow: 0 0 4px #999;
-ms-box-shadow: 0 0 4px #999;
-o-box-shadow: 0 0 4px #999;
box-shadow: 0 0 4px #999;display:table;width:100%}
.blue-bg{background:#407cbb;width:100%;display:table;padding:10px 0;height:65px}
.advance-search select{width:100%}
.advance-search .form-group{margin-bottom:0}
.advance-search .form-group .first{padding-left:30px}
.advance-search .price-hint{font-weight:normal;font-size:12px}
.advance-search .slider-handle{border:solid 4px #fff}
.advance-search #price-filter .slider-selection{background:#424242}
.advance-search .btn-group.bootstrap-select{width:100% !important}
.advance-search .bootstrap-select > .dropdown-toggle{background:transparent;color:#fff;border-radius:0;border:none;border-bottom:solid 1px #fff;padding-left:0}
.advance-search .open > .dropdown-toggle.btn-default:focus, .advance-search .open > .dropdown-toggle.btn-default:hover{color:#fff;background-color:transparent;border-color:#fff;box-shadow:none;outline:none}
.advance-search .btn-group.open .dropdown-toggle, .advance-search .btn:active, .advance-search .btn:focus, .advance-search .btn:active:focus{box-shadow:none;outline:none !important}
.advance-search .open > .dropdown-menu > li > a{color:#444}
.advance-search .open > .dropdown-menu > li.selected > a{background-color:#337ab7;color:#fff}
.advance-search .slider.slider-horizontal{width:100%}
.advance-search .price-hint{color:#fff}
.advance-search .glyphicon{margin-right:4px}
.blue-bg .social-icons{text-align:right;margin:5.5px 0}
.blue-bg .social-icons a{float:right}
.blue-bg .social-icons a.icons{height:32px;width:32px;border-radius:50%;background:#fff;color:#407cbb;font-size:16px;line-height:32px;margin-right:5px;text-align:center}
.blue-bg .social-icons a.icons:hover{background:#444;color:#fff}
.blue-bg .social-icons a:first-of-type{margin-right:15px}
.blue-bg .social-icons a.meetup img{height:34px}

.breadcrumb{border-radius:0;font-size:12px;background:#e5e5e5;margin-bottom:0;margin-top:0}

.list-selection{border:solid 1px #ddd;height:48px;margin:30px 0}
.list-selection .list-unstyled{margin:0}
.list-selection .list-unstyled li{float:left;border-right:solid 1px #ddd}
.list-selection .list-unstyled li a{padding:13px 25px;display:inline-block;color:#444;text-decoration:none}
.list-selection .list-unstyled li a.active, .list-selection .list-unstyled li a.active:hover{color:#fff;background:#407cbb}
.list-selection .list-unstyled li a:hover{background:#e5e5e5;color:#407cbb}
.list-selection .sort-option{float:right}
.list-selection .sort-option h5{margin:0 5px 0 0;display:inline;line-height:46px;font-size:12px;color:#999}

.list-selection .sort-option .bootstrap-select > .dropdown-toggle{background:transparent;color:#444;border-radius:0;border:none;border-bottom:solid 1px #fff;padding-left:0}
.list-selection .sort-option .open > .dropdown-toggle.btn-default:focus,
.list-selection .sort-option .open > .dropdown-toggle.btn-default:hover{color:#444;background-color:transparent;border-color:#fff;box-shadow:none;outline:none}
.list-selection .sort-option .btn-group.open .dropdown-toggle,
.list-selection .sort-option .btn:active,
.list-selection .btn:focus,
.list-selection .btn:active:focus{box-shadow:none;outline:none !important}
.list-selection .open > .dropdown-menu{margin-top:5px !important}
.list-selection .open > .dropdown-menu > li.selected > a,
.list-selection .open > .dropdown-menu > li > a{padding:3px 20px !important;display:inline-block !important;width:100% !important}
.list-selection .open > .dropdown-menu > li.selected > a{background-color:#337ab7 !important;color:#fff !important}
.list-selection .open > .dropdown-menu > ul > li{display:inline-block !important;width:100% !important}

.property-listing .listing-box{display:table;position:relative;width:100%;background:#fff;-webkit-box-shadow:0 0 4px#999;-moz-box-shadow:0 0 4px #999;-ms-box-shadow:0 0 4px #999;-o-box-shadow:0 0 4px #999;box-shadow:0 0 4px #999;margin-bottom:30px;cursor:pointer}
.property-listing .listing-box:hover{-webkit-box-shadow:0 0 4px#454545;-moz-box-shadow:0 0 4px #454545;-ms-box-shadow:0 0 4px #454545;-o-box-shadow:0 0 4px #454545;box-shadow:0 0 4px #454545}
.property-listing .listing-box:hover h3{color:#407cbb}
.property-listing .listing-box:hover .img-box img{transform:scale(1.1);-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1)}
.property-listing .listing-box a{text-decoration:none;color:#444;display:block}
.property-listing .listing-box .img-box{overflow:hidden}
.property-listing .listing-box .img-box img{display:inline-block;transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out}
.property-listing .listing-box h3{font-size:16px;height:40px;padding:0 15px}
.property-listing .listing-box ul{margin:0;padding:0;list-style:none;display:table;width:100%}
.property-listing .listing-box ul li{float:left}
.property-listing .listing-box .labels li{padding:0 0 10px 0}
.property-listing .listing-box .labels .price{color:#FF8F00;text-align:left;padding-left:15px;float:left}
.property-listing .listing-box .labels .person{color:#407cbb;text-align:right;padding-right:15px;float:right}
.property-listing .listing-box .price-flow{border-top:solid 1px #ddd}
.property-listing .listing-box .price-flow li{width:50%;padding:10px 0;border-right:solid 1px #ddd;padding-left:15px}
.property-listing .listing-box .price-flow li:last-of-type{border-right:none}
.property-listing .listing-box .blue-text{color:#407cbb}
.property-listing .listing-box .numbers-details{border-top:solid 1px #ddd;color:#818181;text-align:center}
.property-listing .listing-box .numbers-details li{float:none;display:table-cell;width:1%;border-right:solid 1px #ddd}
.property-listing .listing-box .numbers-details li:first-of-type{padding-left:0}
.property-listing .listing-box .numbers-details li:last-of-type{border-right:none}
.property-listing .listing-box .numbers-details li span{display:block;padding:10px 0}
.property-listing .listing-box .fa{margin-right:4px}
.property-listing .status-tag{position:absolute;top:0;left:0;min-width:auto;padding:5px 5px 5px 15px;color:#fff;display:inline-block;height:30px}
.property-listing .status-tag:after{content:"";position:absolute;top:0;right:-30px;width:0;height:0;border-style:solid;border-width:30px 30px 0 0}
.property-listing .status-tag.yellow{background:#FFB300}
.property-listing .status-tag.yellow:after{border-color:#FFB300 transparent transparent transparent}
.property-listing .status-tag.red{background:#b71c1c}
.property-listing .status-tag.red:after{border-color:#b71c1c transparent transparent transparent}
.property-listing .status-tag.green{background:#558B2F}
.property-listing .status-tag.green:after{border-color:#558B2F transparent transparent transparent}

@media(max-width:479px){
.list-selection{height:auto}
.list-selection .list-unstyled{width:100%;display:table;border-bottom:solid 1px #ddd;text-align:center}
.list-selection .list-unstyled li{float:none;width:1%;display:table-cell}
.list-selection .list-unstyled li a{display:block}
.list-selection .list-unstyled li:last-of-type{border-right:none}
.list-selection .sort-option{float:none}
.list-selection .sort-option h5{margin-left:15px}
.property-listing .col-xs-12{width:100% !important}
.sort-option .btn-group.bootstrap-select{width:75% !important}	
}
@media(min-width:480px) and (max-width:767px){
.sort-option .btn-group.bootstrap-select{width:138px !important}
}
@media(max-width:767px){
.main-body{margin-bottom:234px}
.advance-search .form-group .first{padding-left:15px}
.advance-search .slider.slider-horizontal{margin-top:10px}
.property-listing .col-xs-12{width:50%}
.advance-search .btn-group.bootstrap-select{margin-bottom:15px}
.list-selection .list-unstyled li a{padding-left:15px;padding-right:15px}
}