input.property-search {
    /*width: 220px !important;*/
}
.property-search-container {
    width: 220px;
}
.property-search-tip {
    position: absolute;
    /* height: 30px; */
    width: 220px;
    background-color: white;
    margin-top: 8px;
    border-radius: 4px;
    border: solid 2px #de5e5e;
    color: #000;
    text-align: center;
    padding: 6px;
}