.banner-bg{background:rgba(231,218,181,1);background:-moz-linear-gradient(top, rgba(231,218,181,1) 0%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 55%, rgba(231,218,181,1) 100%);background:-webkit-gradient(left top, left bottom, color-stop(0%, rgba(231,218,181,1)), color-stop(45%, rgba(255,255,255,1)), color-stop(55%, rgba(255,255,255,1)), color-stop(100%, rgba(231,218,181,1)));background:-webkit-linear-gradient(top, rgba(231,218,181,1) 0%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 55%, rgba(231,218,181,1) 100%);background:-o-linear-gradient(top, rgba(231,218,181,1) 0%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 55%, rgba(231,218,181,1) 100%);background:-ms-linear-gradient(top, rgba(231,218,181,1) 0%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 55%, rgba(231,218,181,1) 100%);background:linear-gradient(to bottom, rgba(231,218,181,1) 0%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 55%, rgba(231,218,181,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7dab5', endColorstr='#e7dab5', GradientType=0);border-top:solid 4px #21618f;border-bottom:solid 4px #21618f;}
.banner-bg .panel-body{padding:10px 15px}
.banner-bg .panel-body .owl-wrapper-outer{padding-bottom:0}
.banner-bg .panel-body .item{cursor:move}
.banner-bg h3{font-size:22px !important;color:#21618f;font-weight:normal !important;font-family:'AllerRG' !important;line-height:30px;width:70%;margin-left:15%;margin-right:15%}
.banner-bg span{color:#f36c4f}
.banner-bg h4{color:#21618f;font-size:16px !important;margin-top:10px !important;margin-bottom:0 !important;font-family:'AllerRG' !important}
.banner-bg h4 span{display:block;margin-top:5px;font-size:14px}
.banner-bg h4.top-heading{margin-top:0 !important;margin-bottom:10px !important;font-weight:bold !important}

/* Background Video CSS */
.background-video{background-position:top center;background-repeat:no-repeat;overflow:hidden;position:fixed;top:44px;right:0;bottom:0;left:0;z-index:-1}
.background-video:before{content:"";position:absolute;top:0;left:0;background:rgba(0,0,0,.5);z-index:99;width:100%;height:100%}
video,source{bottom:0;left:0;min-height:100%;min-width:100%;position:absolute}
.loaded .ytplayer-container{display:block}
.loaded .placeholder-image{opacity:0}
.ytplayer-container{bottom:0;height:100%;left:0;min-width:100%;overflow:hidden;position:absolute;right:0;top:0;z-index:3}
.placeholder-image{height:100%;left:0;min-height:100%;min-width:100%;position:fixed;top:0;z-index:1}
.ytplayer-shield{height:100%;left:0;position:absolute;top:0;width:100%;z-index:2}
.ytplayer-player{position:absolute}

/* Common */
.ds-tbl{display:table;height:100%}
.ds-tbl-cel{display:table-cell;height:100%;vertical-align:middle}
.mar-top-15{margin-top:15px}
.mar-top-30{margin-top:30px}
.mar-top-40{margin-top:40px}
.mar-btm-30{margin-bottom:30px}
.mar-right-15{margin-right:15px}
.pad-top-70{padding-top:70px}
.pad-btm-5{padding-bottom:5px}
.pad-btm-55{padding-bottom:55px}

a:focus, a:active, .btn:focus, .btn:active{outline:none !important}
.border-btn, .border-btn:focus{border:solid 1px #407cbb;font-family:'AllerRG';background:transparent;color:#407cbb;box-shadow:none !important}
.border-btn:hover{color:#fff;background:#407cbb}
.border-btn .fa, .blue-btn .fa, .btn-success .fa, .btn-danger .fa{margin-right:6px}
.border-btn.btn-sm .fa, .blue-btn.btn-sm .fa, .btn-success.btn-sm .fa, .btn-danger.btn-sm .fa{margin-right:0}
.border-btn.space-setting{margin-top:15px}
.blue-btn.btn-sm{padding:5px 9px}

.blue-btn, .blue-btn:focus{border:solid 1px #407cbb;font-family:'AllerRG';background:#407cbb;color:#fff;box-shadow:none !important}
.blue-btn:hover{color:#fff;background:#444;border-color:#444}

.pager .fa{margin-right:6px}

.form-control{box-shadow:none;-moz-appearance:none;-webkit-appearance:none;appearance:none}
.form-control:hover{border-color:#66afe9}
.form-control:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);-ms-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);-o-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)}

/* Chinese Content Page */
.chinese-content ul:first-of-type{display:inline-table;padding:0 0 0 15px}
.chinese-content p.text-center .align-left{float:left;margin-right:25px;margin-bottom:15px}

/* Index Page CSS */
.first-section{height:500px}
.first-section .box-content{padding:30px;color:#fff;border-radius:10px;width:80%;margin:0 10%;text-shadow:2px 2px 4px #000;-webkit-text-shadow:2px 2px 4px #000;-moz-text-shadow:2px 2px 4px #000;-ms-text-shadow:2px 2px 4px #000;-o-text-shadow:2px 2px 4px #000}
.first-section .box-content h1{margin-top:0;font-size:36px;font-family:'AllerDisplay'}
.first-section .box-content p{color:#ffdf90;font-size:20px;font-family:'AllerRG'}

.white-bg{background:#fff}
.content-section-row{color:#525252;padding:50px 0;font-family:'AllerRG'}
.content-section-row h2{margin-top:0;margin-bottom:15px;font-family:'AllerDisplay';font-size:32px;line-height:1;color:#407cbb}
.content-section-row h4{margin-top:0;margin-bottom:15px;font-size:20px;line-height:1;font-weight:bold;color:#aaa}
.content-section-row ul{font-family:'AllerRG';font-size:16px;padding:0 0 0 15px;margin:-5px 0 0 15px}
.content-section-row video, .content-section-row iframe{display:inline-block;width:100%;max-width:627px;max-height:352px}
.content-section-row .opportunities-content{margin-top:50px}
.content-section-row .opportunities-content .btn{margin-left:5px;margin-top:15px}
.content-section-row .opportunities-content .btn:first-of-type{margin-left:0}
.content-section-row .bullet-text{font-size:18px;text-align:center}
.content-section-row .bullet-text span{position:relative;padding-left:20px;padding-right:12px}
/*.content-section-row .bullet-text span.first .bullet{width:8px;height:8px;border-radius:50%;background:#407cbb;padding:0;margin-right:16px}*/
.content-section-row .bullet-text span:before{content:"";width:8px;height:8px;position:absolute;top:6px;left:0;border-radius:50%;background:#407cbb}
.content-section-row .bullet-text span.first:before{display:none}
.content-section-row .bullet-text span.first{padding-left:0}

.property-section{background:#eee;padding:50px 0;font-family:'AllerRG';-webkit-box-shadow:0 0 4px 1px #ccc;-moz-box-shadow:0 0 4px 1px #ccc;-ms-box-shadow:0 0 4px 1px #ccc;-o-box-shadow:0 0 4px 1px #ccc;box-shadow:0 0 4px 1px #ccc}
.property-section .feature-property-listing{padding-left:0;padding-right:0}
.property-section h3{margin-top:0;margin-bottom:30px;font-size:32px;line-height:1;color:#525252}
.property-section .item{padding:5px 15px 0 15px}
.property-section .propery-box{background:#fff;-webkit-box-shadow: 0 0 4px #999;-moz-box-shadow: 0 0 4px #999;-ms-box-shadow: 0 0 4px #999;-o-box-shadow: 0 0 4px #999;box-shadow: 0 0 4px #999;cursor:pointer}
.property-section .propery-box a{display:block;text-decoration:none;color:#575757;word-wrap:break-word}
.property-section .propery-box .img-box{position:relative;overflow:hidden}
.property-section .propery-box .img-box img{display:inline-block;transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out}
.property-section .propery-box:hover .img-box img{transform:scale(1.1);-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1)}
.property-section .propery-box:hover a{color:#407cbb}
.property-section .propery-box .img-box{overflow:hidden}
.property-section .propery-box h4{font-size:16px;color:#333;height:40px;padding:0 10px;margin-top:20px;margin-bottom:10px}
.property-section .propery-box ul{margin:0;padding:0;list-style:none;display:table;width:100%}
.property-section .propery-box ul li{float:left}
.property-section .propery-box .info{margin:0;padding:0;list-style:none;display:table;width:100%}
.property-section .propery-box .info li{padding:0 0 10px 0}
.property-section .propery-box .info li.price{color:#558B2F;text-align:left;padding-left:10px;float:left}
.property-section .propery-box .info li.person{color:#407cbb;text-align:right;padding-right:10px;float:right}
.property-section .propery-box .price-flow{border-top:solid 1px #ddd;border-bottom:solid 1px #ddd}
.property-section .propery-box .price-flow li{width:50%;padding:10px 0;border-right:solid 1px #ddd;padding-left:10px}
.property-section .propery-box .price-flow li:last-of-type{border-right:none}
.property-section .propery-box .blue-text{color:#407cbb}
.property-section .propery-box .numbers-details{color:#818181;text-align:center}
.property-section .propery-box .numbers-details li{float:none;display:table-cell;width:1%;border-right:solid 1px #ddd}
.property-section .propery-box .numbers-details li:first-of-type{padding-left:0}
.property-section .propery-box .numbers-details li:last-of-type{border-right:none}
.property-section .propery-box .numbers-details li span{display:block;padding:10px 0}
.property-section .propery-box .fa{margin-right:4px}
.property-section .status-tag{position:absolute;top:0;left:0;min-width:auto;padding:5px 5px 5px 15px;color:#fff;display:inline-block;height:30px}
.property-section .propery-box.admin .status-tag{left:15px}
.property-section .propery-box.admin .status-tag-right{right:15px}
.property-section .status-tag:after{content:"";position:absolute;top:0;right:-29px;width:0;height:0;border-style:solid;border-width:30px 30px 0 0}
.property-section .status-tag.yellow{background:#FFB300}
.property-section .status-tag.yellow:after{border-color:#FFB300 transparent transparent transparent}
.property-section .status-tag.green{background:#558B2F}
.property-section .status-tag.green:after{border-color:#558B2F transparent transparent transparent}
.property-section .status-tag.blue{background:#407cbb;color:#fff !important}
.property-section .status-tag.blue:after{border-color:#407cbb transparent transparent transparent}
.property-section .status-tag-right{position:absolute;top:0;right:0;min-width:auto;padding:5px 15px 5px 5px;color:#fff;display:inline-block;height:30px}
.property-section .status-tag-right:after{content:"";position:absolute;bottom:0;left:-29px;width:0;height:0;border-style:solid;border-width:30px 30px 0 0}
.property-section .status-tag-right.blue{background:#407cbb;color:#fff !important}
.property-section .status-tag-right.blue:after{border-color:transparent #407cbb transparent transparent}

.property-section .border-btn{margin-top:15px}
.property-section .pager{margin:0}
.property-section .well{margin-bottom:0}

.magazine-section{padding:50px 0 100px 0;font-family:'AllerRG'}
.magazine-section h3{margin-top:0;margin-bottom:50px;font-size:32px;line-height:1;color:#525252}

.feedback-section{padding:50px 0;font-family:'AllerRG';margin-bottom:60px;border-top:solid 1px #ddd}
.feedback-section .comment{font-size:26px;padding-top:0;margin-top:0;color:#525252}
.feedback-section .user{font-size:16px;color:#407cbb}
.feedback-section .table{background:#fff}
.feedback-table-section{padding:50px 0;margin-bottom:60px;border-top:solid 1px #ddd}
.feedback-table-section h3{font-size:32px;margin-bottom:50px;margin-top:0;line-height:1}

/* Common Body CSS */
.main-body{font-family:'AllerRG';margin-top:-136px;margin-bottom:65px}
.main-body.without-search-feature{font-family:'AllerRG';margin-top:0;margin-bottom:60px}
.main-body h1{font-size:36px;font-family:'AllerDisplay';margin-top:0;color:#fff;margin-bottom:30px}
#PropertiesCtrl .main-body h1{text-shadow:2px 2px 4px #000;-webkit-text-shadow:2px 2px 4px #000;-moz-text-shadow:2px 2px 4px #000;-ms-text-shadow:2px 2px 4px #000;-o-text-shadow:2px 2px 4px #000}
.main-body h1.common-title{text-shadow:none !important;-webkit-text-shadow:none;-moz-text-shadow:none;-ms-text-shadow:none;-o-text-shadow:none;color:#0288D1;margin-top:30px}
.box-shadow{-webkit-box-shadow:0 0 4px #999;-moz-box-shadow:0 0 4px #999;-ms-box-shadow:0 0 4px #999;-o-box-shadow:0 0 4px #999;box-shadow:0 0 4px #999;display:table;width:100%}
.breadcrumb{padding:8px 15px !important;border-radius:0;font-size:12px;background:#f5f5f5;margin-bottom:0;margin-top:0;word-wrap:break-word}
.breadcrumb a{text-decoration:none}
.breadcrumb a:hover{color:#444}

/* Property Listing Page CSS */
.blue-bg{background:#407cbb;width:100%;display:table;padding:10px 0;height:65px}
/*.advance-search select{width:100%}
.advance-search .form-group{margin-bottom:0}
.advance-search .form-group .first{padding-left:30px}
.advance-search .price-hint{font-weight:normal;font-size:12px}
.advance-search .slider-handle{border:solid 4px #fff}
.advance-search #price-filter .slider-selection{background:#424242}
.advance-search .btn-group.bootstrap-select{width:100% !important}
.advance-search .bootstrap-select > .dropdown-toggle{background:transparent;color:#fff;border-radius:0;border:none;border-bottom:solid 1px #fff;padding-left:0;box-shadow:none !important}
.advance-search .open > .dropdown-toggle.btn-default:focus, .advance-search .open > .dropdown-toggle.btn-default:hover{color:#fff;background-color:transparent;border-color:#fff;box-shadow:none;outline:none}
.advance-search .btn-group.open .dropdown-toggle, .advance-search .btn:active, .advance-search .btn:focus, .advance-search .btn:active:focus{box-shadow:none;outline:none !important}
.advance-search .open > .dropdown-menu > li > a{color:#444}
.advance-search .open > .dropdown-menu > li.selected > a{background-color:#337ab7;color:#fff}
.advance-search .slider.slider-horizontal{width:90%}
.advance-search .slider.slider-horizontal .tooltip{z-index:1000}
.advance-search .price-hint{color:#fff}
.advance-search .glyphicon{margin-right:4px}
.blue-bg .social-icons{text-align:right;margin:5.5px 0}
.blue-bg .social-icons a{float:right}
.blue-bg .social-icons a.icons{height:32px;width:32px;border-radius:50%;background:#fff;color:#407cbb;font-size:16px;line-height:32px;margin-right:5px;text-align:center}
.blue-bg .social-icons a.icons:hover{background:#444;color:#fff}
.blue-bg .social-icons a:first-of-type{margin-right:15px}
.blue-bg .social-icons a.meetup img{height:34px}*/

.list-selection{margin:30px 0}
.list-selection .list-unstyled{margin:0;display:table;width:100%;border-bottom:solid 1px #ddd}
.list-selection .list-unstyled li{float:left;border-top-left-radius:4px;border-top-right-radius:4px;margin-right:4px;background:#f5f5f5}
.list-selection .list-unstyled li a{padding:13px 25px;display:inline-block;color:#444;text-decoration:none}
.list-selection .list-unstyled li.active,
.list-selection .list-unstyled li.active:hover{color:#fff;background:#407cbb}
.list-selection .list-unstyled li.active a,
.list-selection .list-unstyled li.active:hover a{color:#fff}
.list-selection .list-unstyled li:hover{background:#e5e5e5}
.list-selection .list-unstyled li:hover a{color:#407cbb}
/*
.list-selection .sort-option{float:right;padding-right:15px}
.list-selection .sort-option h5{margin:0 5px 0 0;display:inline;line-height:46px;font-size:12px;color:#999}

.list-selection .sort-option .bootstrap-select > .dropdown-toggle{background:transparent;color:#444;border-radius:0;border:none;border-bottom:solid 1px #fff;padding-left:0;box-shadow:none !important}
.list-selection .sort-option .open > .dropdown-toggle.btn-default:focus,
.list-selection .sort-option .open > .dropdown-toggle.btn-default:hover{color:#444;background-color:transparent;border-color:#fff;box-shadow:none;outline:none}
.list-selection .sort-option .btn-group.open .dropdown-toggle,
.list-selection .sort-option .btn:active,
.list-selection .btn:focus,
.list-selection .btn:active:focus{box-shadow:none;outline:none !important}
.list-selection .open > .dropdown-menu{margin-top:5px !important}
.list-selection .open > .dropdown-menu > li.selected > a,
.list-selection .open > .dropdown-menu > li > a{padding:3px 20px !important;display:inline-block !important;width:100% !important}
.list-selection .open > .dropdown-menu > li.selected > a{background-color:#337ab7 !important;color:#fff !important}
.list-selection .open > .dropdown-menu > ul > li{display:inline-block !important;width:100% !important}
*/

.property-listing .listing-box{display:table;position:relative;width:100%;background:#fff;-webkit-box-shadow:0 0 4px #999;-moz-box-shadow:0 0 4px #999;-ms-box-shadow:0 0 4px #999;-o-box-shadow:0 0 4px #999;box-shadow:0 0 4px #999;margin-bottom:30px;cursor:pointer;height:357px}
.property-listing .listing-box:hover{-webkit-box-shadow:0 0 4px#454545;-moz-box-shadow:0 0 4px #454545;-ms-box-shadow:0 0 4px #454545;-o-box-shadow:0 0 4px #454545;box-shadow:0 0 4px #454545}
.property-listing .listing-box:hover a{color:#407cbb}
.property-listing .listing-box:hover .img-box img{transform:scale(1.1);-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1)}
.property-listing .listing-box a{text-decoration:none;color:#575757;display:block;word-wrap:break-word}
.property-listing .listing-box .img-box{position:relative;overflow:hidden}
.property-listing .listing-box .img-box img{display:inline-block;transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out}
.property-listing .listing-box h3{font-size:16px;height:40px;padding:0 10px}
.property-listing .listing-box ul{margin:0;padding:0;list-style:none;display:table;width:100%}
.property-listing .listing-box ul li{float:left}
.property-listing .listing-box .labels li{padding:0 0 10px 0}
.property-listing .listing-box .labels .price{color:#558B2F;text-align:left;padding-left:10px;float:left}
.property-listing .listing-box .labels .person{color:#407cbb;text-align:right;padding-right:10px;float:right}
.property-listing .listing-box .price-flow{border-top:solid 1px #ddd;border-bottom:solid 1px #ddd}
.property-listing .listing-box .price-flow li{width:50%;padding:10px 0;border-right:solid 1px #ddd;padding-left:10px}
.property-listing .listing-box .price-flow li:last-of-type{border-right:none}
.property-listing .listing-box .blue-text{color:#407cbb}
.property-listing .listing-box .numbers-details{color:#818181;text-align:center}
.property-listing .listing-box .numbers-details li{float:none;display:table-cell;width:1%;border-right:solid 1px #ddd}
.property-listing .listing-box .numbers-details li:first-of-type{padding-left:0}
.property-listing .listing-box .numbers-details li:last-of-type{border-right:none}
.property-listing .listing-box .numbers-details li span{display:block;padding:10px 0}
.property-listing .listing-box .fa{margin-right:4px}
.property-listing .status-tag-top{position:absolute;top:0;left:0;min-width:auto;padding:5px 5px 5px 15px;color:#fff;display:inline-block;height:30px}
.property-listing .status-tag-top:after{content:"";position:absolute;top:0;right:-29px;width:0;height:0;border-style:solid;border-width:30px 30px 0 0}
.property-listing .status-tag-top.yellow{background:#FFB300}
.property-listing .status-tag-top.yellow:after{border-color:#FFB300 transparent transparent transparent}
.property-listing .status-tag-top.red{background:#b71c1c}
.property-listing .status-tag-top.red:after{border-color:#b71c1c transparent transparent transparent}
.property-listing .status-tag-top.green{background:#558B2F}
.property-listing .status-tag-top.green:after{border-color:#558B2F transparent transparent transparent}
.property-listing .status-tag-top.orange{background:#F57C00}
.property-listing .status-tag-top.orange:after{border-color:#F57C00 transparent transparent transparent}
.property-listing .status-tag-top.skyblue{background:#00bcd4}
.property-listing .status-tag-top.skyblue:after{border-color:#00bcd4 transparent transparent transparent}

.property-listing .status-tag-right{position:absolute;top:0;right:0;min-width:auto;padding:5px 15px 5px 5px;color:#fff;display:inline-block;height:30px}
.property-listing .status-tag-right:after{content:"";position:absolute;bottom:0;left:-29px;width:0;height:0;border-style:solid;border-width:30px 30px 0 0}
.property-listing .status-tag-right.blue{background:#407cbb;color:#fff !important}
.property-listing .status-tag-right.blue:after{border-color:transparent #407cbb transparent transparent}

/* Property Details Page */
.property-details{margin-bottom:30px}
.property-details h1{margin-top:30px;margin-bottom:15px;border-bottom:solid 1px #ddd;padding-bottom:5px;font-size:30px;color:#0288D1;word-wrap:break-word}
.property-details .info-lable-text{font-size:14px;background:#E3F2FD;padding:10px;margin:20px 0;border-radius:4px;color:#444;text-align:center;word-wrap:break-word}
.property-details .status-tag{position:absolute;top:0;left:15px;min-width:auto;padding:5px 5px 5px 15px;color:#fff;display:inline-block;height:50px;font-size:18px;line-height:40px}
.property-details .status-tag:after{content:"";position:absolute;top:0;right:-49px;width:0;height:0;border-style:solid;border-width:50px 50px 0 0}
.property-details .status-tag.yellow{background:#ffb300}
.property-details .status-tag.yellow:after{border-color:#ffb300 transparent transparent transparent}
.property-details .status-tag.red{background:#b71c1c}
.property-details .status-tag.red:after{border-color:#b71c1c transparent transparent transparent}
.property-details .status-tag.green{background:#558b2f}
.property-details .status-tag.green:after{border-color:#558b2f transparent transparent transparent}
.property-details .status-tag.orange{background:#f57c00}
.property-details .status-tag.orange:after{border-color:#f57c00 transparent transparent transparent}
.property-details .status-tag.skyblue{background:#00bcd4}
.property-details .status-tag.skyblue:after{border-color:#00bcd4 transparent transparent transparent}

.property-details .status-tag-right{position:absolute;top:0;right:15px;min-width:auto;padding:5px 15px 5px 5px;color:#fff;display:inline-block;height:50px;font-size:18px;line-height:40px}
.property-details .status-tag-right:after{content:"";position:absolute;bottom:0;left:-49px;width:0;height:0;border-style:solid;border-width:50px 50px 0 0}
.property-details .status-tag-right.blue{background:#407cbb;color:#fff !important}
.property-details .status-tag-right.blue:after{border-color:transparent #407cbb transparent transparent}

.property-details .property-info-tabs a{font-size:16px}
.property-details .status-price-details{margin:2px 0 0 0;padding:0;list-style:none;color:#525252}
.property-details .status-price-details li{padding:10px 15px;border-bottom:solid 1px #ddd;display:table;width:100%}
.property-details .status-price-details li label{float:left;width:50%;font-weight:normal;margin-bottom:0}
.property-details .status-price-details li:nth-child(2n){background:#f5f5f5}
.property-details .status-price-details li .title{float:left;width:110px}
.property-details .status-price-details li .label{font-size:14px;font-weight:normal}
.property-details .status-price-details li .label-yellow{background:#ffb300}
.property-details .status-price-details li .label-red{background:#b71c1c}
.property-details .status-price-details li .label-green{background:#558b2f}
.property-details .status-price-details li .label-red{background:#b71c1c}
.property-details .status-price-details li .label-orange{background:#f57c00}
.property-details .status-price-details li .label-skyblue{background:#00bcd4}
.property-details .status-price-details li.links{text-align:center}
.property-details .status-price-details li.links span{width:33%;float:left}
.property-details .status-price-details li.links a{color:#5296d0;text-decoration:none}
.property-details .status-price-details li.links a:hover{color:#444}

.property-details .description-content{padding:15px 0;color:#525252;border-bottom:solid 1px #ddd;word-wrap:break-word}
.property-details .description-content ul{padding:0;margin:0;list-style:none}
.property-details .description-content ul li{padding:10px 0;border-bottom:solid 1px #ddd}
.property-details .description-content ul li:last-of-type{border-bottom:none}

.property-details .contact-link{margin-top:15px;display:table;width:100%}
.property-details .contact-link .fa{margin-right:6px}
.property-details .contact-link a.left-link{float:left}
.property-details .contact-link a.right-link{float:right}

.map{height:240px}

#property-images-slider .item{cursor:move;cursor:-moz-move;cursor:-webkit-move;cursor:-ms-move;cursor:-o-move;text-align:center}
#property-images-slider .item .img-responsive{display:inline-block}

.map-graph-section{background:#f5f5f5;padding:30px 0;-webkit-box-shadow:0 0 4px 1px #ccc;-moz-box-shadow:0 0 4px 1px #ccc;-ms-box-shadow:0 0 4px 1px #ccc;-o-box-shadow:0 0 4px 1px #ccc;box-shadow:0 0 4px 1px #ccc}
.map-graph-details h4{margin-top:0;margin-bottom:4px;font-size:12px}
.map-graph-details h4 a{color:#5296d0;text-decoration:none;padding:6px 0;display:inline-block;word-wrap:break-word}
.map-graph-details h4 a:hover{color:#444}
.map-graph-details iframe{border:0;width:100%;height:380px}

.modal-dialog{margin:62px auto;border-radius:0}
.property-contact-popup .modal-content{border-radius:0;font-family:'AllerRG';color:#525252}
.property-contact-popup .modal-header, .property-contact-popup .modal-body{padding:20px}
.property-contact-popup .modal-title{font-size:18px;color:#0288D1}
.property-contact-popup .modal-title .fa{margin-right:5px}
.property-contact-popup .modal-title .fa:last-of-type{margin-left:5px}
.property-contact-popup .form-control{box-shadow:none;padding-left:30px}
.property-contact-popup .form-control:hover{border-color:#66afe9}
.property-contact-popup .form-control:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);-ms-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);-o-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)}
.property-contact-popup textarea{resize:none}
.property-contact-popup .form-horizontal .form-group .fa{position:absolute;left:25px;top:10px;color:#999}
.property-contact-popup .form-horizontal .form-group.btns-row .fa{position:relative;left:auto;top:auto;color:#fff;margin-right:6px}
.property-contact-popup .pad-right-0{padding-right:0}

.property-contact-popup .form-horizontal .checkbox{padding-top:5px;float:right}
.property-contact-popup .form-horizontal .checkbox label{padding-left:0}
.property-contact-popup .form-horizontal .checkbox label:after{content:'';display:table;clear:both}
.property-contact-popup .form-horizontal .checkbox .cr{position:relative;display:inline-block;border:1px solid #a9a9a9;border-radius:.25em;width:1.3em;height:1.3em;float:left;margin-right:.5em}
.property-contact-popup .form-horizontal .checkbox .cr .cr-icon{position:absolute;font-size:.8em;line-height:0;top:50%;left:20%;color:#333 !important}
.property-contact-popup .form-horizontal .checkbox label input[type="checkbox"]{display:none}
.property-contact-popup .form-horizontal .checkbox label input[type="checkbox"] + .cr > .cr-icon{transform:scale(3) rotateZ(-20deg);opacity:0;transition:all .3s ease-in}
.property-contact-popup .form-horizontal .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon{transform: scale(1) rotateZ(0deg);opacity:1}
.property-contact-popup .form-horizontal .checkbox label input[type="checkbox"]:disabled + .cr{opacity:.5}

.property-contact-popup .form-horizontal .blue-btn{position:relative;float:left}
.property-contact-popup .form-horizontal .blue-btn .fa{position:relative;top:auto;left:auto;color:#fff}

.msg-content{padding-bottom:60px}

/* Content Pages CSS */
.content-section{padding-bottom:50px}
.content-section h1{margin-top:30px;margin-bottom:15px;border-bottom:solid 1px #ddd;padding-bottom:5px;font-size:30px;color:#0288D1}
.content-section h3{margin-top:30px;font-size:22px}
.content-section p{color:#444;text-align:justify}
.content-section ul{padding:0 0 0 15px}
.content-section ol{padding:0 0 0 24px}
.content-section.faq h4{margin-top:0;padding-top:78px}
.content-section.faq ol{margin-bottom:78px}
.content-section.faq article{padding-bottom:65px}
.content-section.faq hr{margin-top:0;margin-bottom:0}
.content-section h4.list-group-item-heading{margin-top:0;margin-bottom:0}
.top-zero{color:#0288D1}
.top-zero img{margin-left:10px}
.content-section .sort-row{display:table;width:100%}
.content-section .sort-row .sort-span{float:left}
.content-section .sort-row h5{font-weight:normal !important;margin:0;float:left;line-height:34px;margin-right:5px}
.content-section .sort-row .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width:180px}
.content-section .sort-row .btn-sm, .btn-group-sm > .btn{padding:5px 0}
.content-section .sort-row .bootstrap-select.btn-group .dropdown-menu{z-index:1000}
.content-section .sort-row .btn-span{float:right}
.resources-data .img-thumbnail{min-width:120px;margin-top:10px;margin-bottom:10px}
.resources-data h4{margin-top:10px !important}
.resources-data .btn{margin-right:4px}
.radio-banner .img-responsive{display:inline-block}

/* Blog Pages CSS */
.main-body.only-bread-crumb{margin-top:0;margin-bottom:60px}
.main-body.only-bread-crumb.mar-btm-setting{margin-bottom:125px}

.blog-img-header{margin-top:44px;overflow:hidden;max-height:320px}
.blog-img-header img{margin-top:-400px;width:100%}
.blog-img-header .loading-img{margin-top:0;height:320px}

.latest-blogs-section{background:#f5f5f5;padding:50px 0;margin-bottom:65px;font-family:'AllerRG';-webkit-box-shadow: 0 0 4px 1px #ccc;-moz-box-shadow: 0 0 4px 1px #ccc;-ms-box-shadow: 0 0 4px 1px #ccc;-o-box-shadow: 0 0 4px 1px #ccc;box-shadow: 0 0 4px 1px #ccc}
.latest-blogs-section h2{margin-top:0;margin-bottom:60px;font-size:32px;line-height:1;color:#525252}
.latest-blogs-section .item{padding:5px 15px 0 15px}
.latest-blogs-section .blog-listing{padding-left:0;padding-right:0}
.latest-blogs-section .blog-listing .listing-box{margin-bottom:0}

.blog-content-section h1{margin-top:30px;margin-bottom:15px;border-bottom:solid 1px #ddd;padding-bottom:5px;font-size:30px;color:#0288D1;word-wrap:break-word}
.blog-content-section h2, .blog-content-section h3{font-size:24px}
.blog-content-section h4{font-size:20px}
.blog-content-section h5{font-size:18px}
.blog-content-section h6{font-size:16px}
.blog-content-section h2, .blog-content-section h3, .blog-content-section h4, .blog-content-section h5, .blog-content-section h6, .content-section h3, .content-section h4, .content-section h5, .content-section h6{margin-top:30px;margin-bottom:15px;word-wrap:break-word}
.blog-content-section p{color:#444;text-align:justify;word-wrap:break-word}
.blog-content-section ul, .blog-content-section ol{padding:0 0 0 15px}
.blog-content-section .featured-img{margin-bottom:20px}
.blog-content-section .status-dtls{margin-top:-5px;margin-bottom:15px}

.status-dtls{padding:0;margin:0;list-style:none;color:#999}
.status-dtls li{display:table-cell;padding-right:15px}
.status-dtls li .fa{margin-right:6px}
.status-dtls li a{text-decoration:none}
.status-dtls li a.comment{color:#ef5350}
.status-dtls li a.fav{color:#8BC34A}

.blog-listing .listing-box{display:block;position:relative;overflow:hidden;width:100%;height:516px;margin-bottom:30px;cursor:pointer;background:#fff;-webkit-box-shadow:0 0 4px#999;-moz-box-shadow:0 0 4px #999;-ms-box-shadow:0 0 4px #999;-o-box-shadow:0 0 4px #999;box-shadow:0 0 4px #999}
.blog-listing .listing-box:hover{-webkit-box-shadow:0 0 4px#454545;-moz-box-shadow:0 0 4px #454545;-ms-box-shadow:0 0 4px #454545;-o-box-shadow:0 0 4px #454545;box-shadow:0 0 4px #454545}
.blog-listing .listing-box:hover h3 a{color:#0288D1}
.blog-listing .listing-box:hover .img-box img{transform:scale(1.1);-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1)}
.blog-listing .listing-box .img-box{overflow:hidden;height:200px;text-align:center}
.blog-listing .listing-box .img-box img{display:inline-block;transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out}
.blog-listing .listing-box h3{font-size:16px;height:40px;border-bottom:solid 1px #ddd;padding-left:15px;padding-right:15px}
.blog-listing .listing-box p{color:#888;padding-left:15px;padding-right:15px;word-wrap:break-word}
.blog-listing .listing-box a{text-decoration:none;color:#525252;display:block;position:relative;word-wrap:break-word}
.blog-listing .listing-box .status-dtls{position:absolute;bottom:0;padding:10px 0 10px 15px;border-top:solid 1px #ddd;display:table;margin-bottom:0}
.blog-listing .listing-box .status-dtls li{width:1%}
.blog-listing .listing-box .status-dtls a{color:#ef5350}
.blog-listing .listing-box:hover .status-dtls a{color:#0288D1}
.blog-listing .listing-box .status-dtls{margin-top:0}

.pagination{display:none}

/* Contact Us Page */
.contact-us .checkbox label{padding-left:0}
.contact-us .checkbox label:after{content:'';display:table;clear:both}
.contact-us .checkbox .cr{position:relative;display:inline-block;border:1px solid #a9a9a9;border-radius:.25em;width:1.3em;height:1.3em;float:left;margin-right:.5em}
.contact-us .checkbox .cr .cr-icon{position:absolute;font-size:.8em;line-height:0;top:50%;left:20%;color:#333 !important}
.contact-us .checkbox label input[type="checkbox"]{display:none}
.contact-us .checkbox label input[type="checkbox"] + .cr > .cr-icon{transform:scale(3) rotateZ(-20deg);opacity:0;transition:all .3s ease-in}
.contact-us .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon{transform: scale(1) rotateZ(0deg);opacity:1}
.contact-us .checkbox label input[type="checkbox"]:disabled + .cr{opacity:.5}
.contact-us textarea{resize:none}

@media(max-width:479px){
.border-btn{padding:8px;font-size:13px}
.border-btn .fa{margin-right:4px}

/* Index Page CSS */
.first-section .box-content{width:100%;margin:0}
.first-section .box-content h1{font-size:24px}
.first-section .box-content p,.content-section-row h4{font-size:16px}
.content-section-row h2,.property-section h3,.magazine-section h3,.latest-blogs-section h2{font-size:22px}
.property-details h1,.blog-content-section h1{font-size:18px}
.content-section-row ul{font-size:14px}
.feature-property-listing .col-xs-12{width:100%;text-align:center}
.magazine-section .img-responsive{display:inline-block}
.magazine-section .img-responsive.last{margin-bottom:0}
.feedback-section .comment{font-size:18px}

/* Property Listing Page CSS */
/*.list-selection{height:auto}
.list-selection .list-unstyled{width:100%;display:table;text-align:center}*/
.list-selection .list-unstyled{border-bottom:none}
.list-selection .list-unstyled li{float:left;width:auto;display:table-cell;margin-bottom:4px}
.list-selection .list-unstyled li a{padding:10px;display:block}
/*.list-selection .sort-option{float:none;border-top:solid 1px #ddd}
.list-selection .sort-option h5{margin-left:15px}*/
.property-listing .listing-box{height:auto}
/*.sort-option .btn-group.bootstrap-select{width:75% !important;margin-left:15px}*/

/* Content Pages CSS */
.content-section h1{font-size:18px}
.content-section h3{font-size:16px}
.content-section .sort-row .sort-span, .content-section .sort-row .btn-span{float:none;display:block}
.content-section .sort-row .btn-span .btn{display:block;margin-top:15px}
.content-section .sort-row .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width: 100%}
.content-section .sort-row .sort-span{margin-right:0;margin-bottom:10px}
.resources-data .btn{margin-right:2px}

/* Property Details Page CSS */
.property-details .status-price-details li .title{float:none;width:auto;display:block;font-weight:bold}
.property-details .contact-link a.left-link{margin-bottom:15px}
.property-details .contact-link a.left-link, .property-details .contact-link a.right-link{float:none;display:block}
.property-details .status-tag-right{height:30px;font-size:14px;line-height:20px}
.property-details .status-tag-right:after{left:-29px;border-width:30px 30px 0 0}
.property-details .status-price-details li.links{text-align:left}
.property-details .status-price-details li.links span{width:50%}

/* Blog Pages CSS */
.blog-img-header img{margin-top:0}
.blog-listing .listing-box .status-dtls{width:100%}
.blog-listing .listing-box .status-dtls li{width:auto}
.blog-listing .listing-box .status-dtls li:nth-child(1n){float:left}
.blog-listing .listing-box .status-dtls li:nth-child(2n){float:right}
.blog-content-section .status-dtls li{display:block;padding-right:0}
.blog-content-section .status-dtls li:first-of-type{padding-bottom:5px}
}
@media(min-width:480px) and (max-width:767px){
/* Common CSS */
.border-btn{padding:8px 14px;font-size:16px}

/* Index Page CSS */
.first-section .box-content{width:90%;margin:0 5%}
.first-section .box-content h1{font-size:28px}
.first-section .box-content p,.content-section-row h4{font-size:18px}
.content-section-row h2,.property-section h3,.magazine-section h3,.latest-blogs-section h2{font-size:26px}
.property-details h1, .blog-content-section h1{font-size:24px}
.feature-property-listing .admin-body{padding-left:7.5px;padding-right:7.5px}
.feature-property-listing .col-xs-12{width:50%;padding-left:7.5px;padding-right:7.5px}
.property-section .propery-box.admin .status-tag{left:7.5px}
.property-section .propery-box.admin .status-tag-right{right:7.5px}
.magazine-section .col-xs-12{width:50%}
.magazine-section .imgs, .magazine-section .col-xs-12{padding-left:7.5px;padding-right:7.5px}
.feedback-section .comment{font-size:20px}

/* Property Listing Page CSS */
/*.list-selection{height:115px}
.list-selection .list-unstyled{width:100%;display:table;border-bottom:solid 1px #ddd}*/
.property-listing, .property-listing .col-xs-12{padding-left:7.5px;padding-right:7.5px}
.property-listing .col-xs-12{width:50%}
.list-selection .list-unstyled li{width:1%;display:table-cell;float:none;text-align:center}
.list-selection .list-unstyled li a{padding-left:15px;padding-right:15px}
.property-listing .listing-box{height:332px}
/*
.property-listing .listing-box .blue-text{display:block}
*/
/*.sort-option .btn-group.bootstrap-select{width:138px !important}*/

/* Content Pages CSS */
.content-section h1{font-size:24px}
.content-section h3{margin-top:20px;font-size:20px}

/* Property Details Page CSS */
.property-details .contact-link a.left-link, .property-details .contact-link a.right-link{padding:8px 12px;font-size:14px}
.property-details .status-tag-right{height:40px;font-size:16px;line-height:30px}
.property-details .status-tag-right:after{left:-39px;border-width:40px 40px 0 0}

/* Blog Pages CSS */
.blog-img-header img{margin-top:-70px}
}
@media(max-width:767px){
.topfix{margin-top:66px !important}

.banner-bg h3{width:100%;margin-left:0;margin-right:0;margin-top:10px !important;margin-bottom:10px !important;padding:10px 0;font-size:18px !important;border-top:solid 1px #ddd;border-bottom:solid 1px #ddd;line-height:24px}
/* Index Page CSS */
.content-section-row ul{margin-top:15px}
.content-section-row video, .content-section-row iframe{max-height:250px;height:100%}
.carousel-space-setting{margin:0}
.property-section .item{padding:0 7.5px}
.magazine-section .img-responsive{margin-bottom:15px}
.feedback-section{margin-bottom:108px}

/* Common Body CSS */
.main-body{margin-top:-193px;margin-bottom:125px}
.main-body.without-search-feature{margin-bottom:113px}
.table-responsive{margin-bottom:30px}

/* Content Pages CSS */
.content-section ul, .content-section ol{padding-left:15px}
.no-wrap{white-space:normal !important}
.no-wrap h4{font-size:16px;word-wrap:normal}
.table td{white-space:normal !important}
.resources-data .img-thumbnail{max-width:220px;margin-top:5px}
.content-section .sort-row .sort-span.mar-right-15{margin-bottom:15px}

/* Property Listing Page CSS */
/*
.advance-search .form-group .first{padding-left:15px}
.advance-search .slider.slider-horizontal{margin-top:10px}
*/
/*
.advance-search .btn-group.bootstrap-select{margin-bottom:15px}
.advance-search .slider.slider-horizontal{width:92.5%}
*/

/*.list-selection{height:auto;border:none}*/
/*.list-selection .list-unstyled{border:none;display:table;width:100%}*/
.list-selection .list-unstyled li{border-radius:0;}

/* Blog Pages CSS */
.blog-listing .listing-box, .blog-listing .listing-box .img-box{height:auto}
.blog-listing .listing-box .status-dtls{position:relative;bottom:auto}
.latest-blogs-section .border-btn{margin-bottom:50px}
.latest-blogs-section .item{padding-left:7.5px;padding-right:7.5px}

/* Chinese Content Page CSS */
.chinese-content p.text-center{text-align:center !important}
.chinese-content p.text-center .align-left{max-width:100%;float:none;display:inline-block}
}

@media(min-width:768px) and (max-width:991px){
 .banner-bg h3{font-size:18px !important;line-height:24px;width:100%;margin-left:0;margin-right:0}


  .property-section .feature-property-listing{padding-left:7.5px;padding-right:7.5px}
  .property-section .item{padding:0 7.5px}
  .magazine-section .imgs, .magazine-section .col-sm-3{padding-left:7.5px;padding-right:7.5px}

/* Property Listing Page CSS */
/*.list-selection{height:54px}*/
/*.list-selection .list-unstyled li a{padding:16px 10px}*/
/*
.list-selection .sort-option h5{display:block;line-height:inherit}
*/
.property-listing, .property-listing .col-sm-4,
.blog-listing, .blog-listing .col-sm-6,
.latest-blogs-section .blog-listing, .latest-blogs-section .item{padding-left:7.5px;padding-right:7.5px}
.property-listing .listing-box{height:339px;margin-bottom:15px}
/*.advance-search .form-group .first{padding-left:15px}*/
.content-section h1{font-size:28px}

/* Blog Pages CSS */
.blog-listing .listing-box{margin-bottom:15px}
.blog-img-header img{margin-top:-140px}

/* Chinese Content Page CSS */
.chinese-content h3:first-of-type{margin-top:20px}
.chinese-content p.text-center .align-left{max-width:50%;margin-bottom:25px}
}
@media(max-width:991px){

.property-section .propery-box .labels li,.property-listing .listing-box .labels li{padding:0 0 5px 0}
.property-section .propery-box .price-flow, .property-listing .listing-box .price-flow{padding:2.5px 0}
.property-section .propery-box .price-flow li, .property-listing .listing-box .price-flow li{width:100%;padding-top:2.5px;padding-bottom:2.5px;border-right:none}

  /* Property Details Page CSS */
  .property-details .item .img-responsive{width:100%}
  .property-details .property-info-tabs{margin-top:30px}
  #google_map{margin-bottom:30px}
  .btn-sm{min-width:32px}
}

@media(min-width:992px) and (max-width:1199px){
.banner-bg h3{width:90%;margin-left:5%;margin-right:5%}

/* Property Listing Page CSS */
.list-selection .list-unstyled li a{padding:13px 22px}
.property-listing .listing-box{height:378px}

/* Blog Pages CSS */
.blog-listing .listing-box{height:560px}
.blog-img-header img{margin-top:-220px}

/* Chinese Content Page CSS */
.align-left{max-width:40%;}
}

.report-card .listing-box{display:table;position:relative;width:100%;background:#fff;-webkit-box-shadow:0 0 4px #999;-moz-box-shadow:0 0 4px #999;-ms-box-shadow:0 0 4px #999;-o-box-shadow:0 0 4px #999;box-shadow:0 0 4px #999;margin-bottom:30px;height:590px;overflow:hidden;text-align:center}
.report-card .listing-box:hover{-webkit-box-shadow:0 0 4px#454545;-moz-box-shadow:0 0 4px #454545;-ms-box-shadow:0 0 4px #454545;-o-box-shadow:0 0 4px #454545;box-shadow:0 0 4px #454545}
.report-card .listing-box:hover h3 a{color:#525252}
.report-card .listing-box .img-box{position:relative;overflow:hidden;background:#fff}
.report-card .listing-box .img-box img{display:inline-block;transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out}
.report-card .listing-box:hover .img-box img{transform:scale(1.1);-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1)}
.report-card .listing-box h3{margin:0;font-size:16px;height:60px;padding:20px 10px 0 10px;border-bottom:solid 1px #ddd;background:#f5f5f5}
.report-card .listing-box h3 a{color:#407cbb;text-decoration:none}
.report-card .list-unstyled{padding:0 10px;margin:10px 5px;text-align:left}
.report-card .list-unstyled li{padding:5px 0;display:table;width:100%}
.report-card .list-unstyled li b{font-weight:normal}
.report-card .list-unstyled li .left{float:left;text-align:left;width:65%;display:inline-block}
.report-card .list-unstyled li .right{float:left;text-align:right;width:35%;display:inline-block}
.report-card .qtr-data{padding:8px 0 0 0;margin:0;list-style:none;display:table;width:100%;color:#fff;text-align:center}
.report-card .qtr-data li{width:25%;float:left;padding:0 !important}
.report-card .qtr-data li.q1{background:#e57373}
.report-card .qtr-data li.q2{background:#29B6F6}
.report-card .qtr-data li.q3{background:#8BC34A}
.report-card .qtr-data li.q4{background:#FDD835}
.report-card .qtr-data li b{display:block}
.report-card .button-links-row{position:absolute;bottom:15px;width:100%}
.report-card .btn.border-btn{min-width:90px}
.report-card .btn.border-btn:nth-child(2n){margin-left:5px}

#report-card-details .modal-dialog{width:620px}
#report-card-details .modal-dialog .report-card{height:auto}
#report-card-details .modal-dialog .report-card .listing-box{box-shadow:none;height:auto;margin-bottom:0}
#report-card-details .modal-dialog .modal-content{border-radius:0}
#report-card-details button.close{position:absolute;z-index:9;top:-12px;right:-12px;background:#ddd;color:#525252;opacity:1;border-radius:50%;height:24px;width:24px;line-height:24px}
#report-card-details .dropdown-row{border-bottom:solid 1px #ddd;padding-bottom:10px;padding-top:0}
#report-card-details .notes-text{border-top:solid 1px #ddd;padding-top:8px}
#report-card-details .drop-label{line-height:30px}
#report-card-details .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width:90px}
#report-card-details .btn.dropdown-toggle{padding:4px 12px}
#report-card-details .report-card .list-unstyled li .left{width:60%}
#report-card-details .report-card .list-unstyled li .right{width:40%}
#report-card-details .report-card .listing-box h3{color:#407cbb}

@media(max-width:479px){
  .report-card .listing-box{height:auto;padding-bottom:15px;margin-bottom:30px !important}
  #syndication-listing .col-xs-12{width:100%}
  #report-card-details .modal-dialog{width:90%;margin:0 auto;margin-top:30px;margin-bottom:30px}
  #report-card-details .report-card .listing-box{margin-bottom:0 !important;padding-bottom:0}
  .report-card .button-links-row{position:relative;bottom:auto}
}
@media(min-width:480px) and (max-width:767px){
  .report-card, #syndication-listing .col-xs-12{padding-left:7.5px;padding-right:7.5px}
  .report-card .listing-box{min-height:620px}
  #syndication-listing .col-xs-12{width:50%}
  #syndication-listing .two-col-list .col-xs-12{width:100%}
  .report-card .list-unstyled li .left{width:55%}
  .report-card .list-unstyled li .right{width:45%}
  /*.report-card .border-btn{position:absolute;bottom:15px;left:50%;width:100px;margin-left:-50px}*/
  #report-card-details .modal-dialog{width:450px;margin:0 auto;margin-top:50px;margin-bottom:50px}
  .report-card .btn.border-btn{padding:6px 12px;font-size:14px}
}
@media(min-width:768px) and (max-width:991px){
  .report-card .listing-box{height:584px}
}
@media(min-width:992px) and (max-width:1199px){
  .report-card .listing-box{height:570px}
}
@media(max-width:1199px){
  .report-card, #syndication-listing .col-sm-6{padding-left:7.5px;padding-right:7.5px}
  #syndication-listing .two-col-list .col-sm-6 {padding-left: 15px; padding-right: 15px;}
  .report-card.modal-content{padding-left:0;padding-right:0}
  .report-card .listing-box{margin-bottom:15px}
}
.two-col-list{font-size:13px}
.notes-term{background:#efefef;padding:5px;border-bottom:solid 1px #ddd}
.two-col-list dl{padding:5px 0;margin:0;border-bottom:1px solid #ddd}
.two-col-list dl:last-child{border-bottom:none}
.two-col-list dt{float:left;margin-right:12px}
.two-col-list dd{display:block;margin:0;text-align:right;overflow:hidden}