<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= "#{@inquiry[:first_name]} #{@inquiry[:last_name]}" %>!</h1>
    <p>
      We have recieved you inquiry. We will follow up with you shortly.
    </p>
    <p>- Wilson Investment Properties</p>
  </body>
</html>