<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @inquiry[:name] %>!</h1>
    <p>
      Thank you for your interest in <%= @inquiry[:property][:raw_title] %>. We will follow up with you shortly.
    </p>
    <p>- Wilson Investment Properties</p>
  </body>
</html>