<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <address>
          <h5>&copy; Wilson <%= link_to 'Investment Properties', root_path, title: 'Property Investment Company' %>, Inc. 2017</h5>
          14435 Big Basin Way, Ste 240<br>
          Saratoga, CA 95070<br>
          <%= PHONE_NUMBER %><br>
        </address>
      </div>
      <div class="col-sm-6 col-xs-12 social-links text-right">
        <a class="icons" href="https://www.facebook.com/WilsonInvestmentProperties" target="_blank" title="Join Us On Facebook"><i class="fa fa-facebook" aria-hidden="true"></i> <span>Join Us On Facebook</span></a>
        <a class="icons" href="https://twitter.com/wilsoninvestprp" target="_blank" title="Join Us On Twitter"><i class="fa fa-twitter" aria-hidden="true"></i> <span>Join Us On Twitter</span></a>
        <a class="icons" href="https://www.linkedin.com/company/wilson-investment-properties" target="_blank" title="Join Us On Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i> <span>Join Us On Linkedin</span></a>
        <a class="meetup" href="http://www.meetup.com/Wilson-Investment-Properties-Inc/" target="_blank" title="Join Us On MeetUp"><%= image_tag 'meetup.png', align: 'MeetUp', class: 'img-responsive' %></a>
      </div>
    </div>
  </div>
</footer>