<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <address>
          <h5>&copy; Wilson Investment Properties, Inc. 2017</h5>
          14435 Big Basin Way, Ste 240<br>
          Saratoga, CA 95070<br>
          <%= PHONE_NUMBER %><br>
        </address>
      </div>
      <div class="col-sm-6 col-xs-12 social-links text-right">
        <a class="icons" href="https://www.facebook.com/WilsonInvestmentProperties" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a class="icons" href="https://twitter.com/wilsoninvestprp" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a class="icons" href="https://www.linkedin.com/company/wilson-investment-properties" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a class="meetup" href="http://www.meetup.com/Wilson-Investment-Properties-Inc/" target="_blank"><%= image_tag 'meetup.svg', align: 'MeetUp', class: 'img-responsive' %></a>
      </div>
    </div>
  </div>
</footer>
<% unless current_user %>
  <%= render 'layouts/newsletter' %>
<% end %>
<div class="scroll-top-wrapper"><span class="scroll-top-inner"><i class="fa fa-angle-up"></i></span></div>
<script>
  $(function(){
    $("#newsletter-tab").click(function() {
      $("#newsletter-form").toggle("slide");
    });
    $(document).on('scroll',function(){
      if($(window).scrollTop()>200){
        $('.scroll-top-wrapper').addClass('show');
      }else{
        $('.scroll-top-wrapper').removeClass('show');
      }
    });
    $('.scroll-top-wrapper').on('click',scrollToTop);
  });
  function scrollToTop(){
    verticalOffset=typeof(verticalOffset)!='undefined'?verticalOffset:0;
    element=$('body');
    offset=element.offset();
    offsetTop=offset.top;
    $('html,body').animate({scrollTop:offsetTop},500,'linear');
  }
</script>