<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <address>
          <h5>&copy; Wilson Investment Properties, Inc. 2016</h5>
          14435 Big Basin Way, Ste 240<br>
          Saratoga, CA 95070<br>
          408-867-1867<br>
        </address>
      </div>
      <div class="col-sm-6 col-xs-12 social-links text-right">
        <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</footer>

<%= render 'layouts/newsletter' %>

<div class="scroll-top-wrapper"><span class="scroll-top-inner"><i class="fa fa-angle-up"></i></span></div>

<script>
  $("#newsletter-tab").on('click', function() {
    $("#newsletter-form").toggle("slide");
  });
  $(function(){
    $(document).on('scroll',function(){
      if($(window).scrollTop()>200){
        $('.scroll-top-wrapper').addClass('show');
      }else{
        $('.scroll-top-wrapper').removeClass('show');
      }
    });
    $('.scroll-top-wrapper').on('click',scrollToTop);
  });
  function scrollToTop(){
    verticalOffset=typeof(verticalOffset)!='undefined'?verticalOffset:0;
    element=$('body');
    offset=element.offset();
    offsetTop=offset.top;
    $('html,body').animate({scrollTop:offsetTop},500,'linear');
  }
</script>