<div class="top-nav-bg">
<div class="container">
<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        
        <a class="navbar-brand" href="/">
          <%= image_tag 'logo-3.png' %>
        </a>

    </div>
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <%= render 'layouts/links' %>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
</div>

<div class="topfix">
  <div class="jumbotron home">
    <div class="over container body-content">

      <div class="row top-20">

        <!-- <div class="col-md-1"></div> -->
        <div class="col-md-12">

          <% if false %>
          <div class="container">
          <!-- NAVBAR -->
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="" href="/">
                  <%= image_tag 'logo-2.png',height: 60 %>
                </a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <%= render 'layouts/links' %>

              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
          <!-- END NAVBAR -->
          </div>
          <% end %>

          <div class="row jrow">

            <div class="col-md-8">

                <h1 class="white allerdisplay">Your Best Direct Source<br>for Quality Investments</h1>
                <p class="jblue">We have the experience to bring you the most productive, highest quality, income producing properties in the country</p>
                <!-- <p><a class="btn btn-default btn-sm" href="#" role="button">Learn more</a></p> -->

            </div>

            <!-- <div class="col-md-1"></div> -->

            <div class="col-md-4 top-20" ng:controller="MailChimpCtrl">
              
              <form name="signup_form" ng:submit="submitForm()" novalidate>

                <div class="form-group">
                  <input type="text" ng:model="signup.merge_fields.FNAME" class="form-control" placeholder="First Name" required />
                </div>
                <div class="form-group">
                  <input type="text" ng:model="signup.merge_fields.LNAME" class="form-control" placeholder="Last Name" required />
                </div>
                <div class="form-group">
                  <input type="email" ng:model="signup.merge_fields.EMAIL" class="form-control" placeholder="Email" ng:change="signup.email_address = signup.merge_fields.EMAIL" required />
                </div>

                <div class="form-group">
                  <input type="submit" class="btn btn-primary form-control" value="Sign up for our Newsletter" ng:if="!loading" />
                  <input type="submit" class="btn btn-primary form-control no-fade" value="Submitting..." disabled="disabled" ng:if="loading" />
                </div>

              </form>

            </div>

          </div>

        </div>
        <!-- <div class="col-md-1"></div> -->

      </div>

    </div>
  </div>
</div>